<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_not_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{73,52}</string>
                <key>textureRect</key>
                <string>{{107,2},{73,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 7 5 6 7 8 5 4 5 8 3 4 9 0 2 3 0 1 2 0 3 9</string>
                <key>vertices</key>
                <string>57 1 73 11 73 41 56 52 15 52 2 39 0 35 0 16 16 0 53 0</string>
                <key>verticesUV</key>
                <string>164 3 180 13 180 43 163 54 122 54 109 41 107 37 107 18 123 2 160 2</string>
            </dict>
            <key>map_warrior</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{99,92}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 11 12 2 10 11 2 7 8 2 6 7 2 8 9 6 2 4 6 4 5 2 3 4 2 9 10 0 1 2 0 2 12</string>
                <key>vertices</key>
                <string>67 18 74 25 76 39 100 39 113 52 113 85 92 99 72 109 45 109 15 70 14 41 22 26 36 17</string>
                <key>verticesUV</key>
                <string>55 3 62 10 64 24 88 24 101 37 101 70 80 84 60 94 33 94 3 55 2 26 10 11 24 2</string>
            </dict>
            <key>mouse_look_left_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{102,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,100},{102,88}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 14 15 12 1 9 9 10 11 9 11 12 12 13 1 9 1 2 6 7 8 9 2 8 4 5 6 8 3 4 8 4 6 8 2 3 1 13 14 0 1 15</string>
                <key>vertices</key>
                <string>67 21 67 39 82 39 94 45 110 61 110 108 91 101 70 99 69 76 67 75 67 92 59 93 50 86 14 64 8 55 59 20</string>
                <key>verticesUV</key>
                <string>61 101 61 119 76 119 88 125 104 141 104 188 85 181 64 179 63 156 61 155 61 172 53 173 44 166 8 144 2 135 53 100</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2f5a67d7f9fcf06a78d4ef98250ac0:1eb0e64f512ec3021b64c8170bc70a28:fc968d165773c8a0a06f49755236c03a$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
