<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_group_disband</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{142,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 5 0 4 5 6 0 4 0 3 3 0 2 0 6 7</string>
                <key>vertices</key>
                <string>64 14 64 51 51 64 13 64 0 51 0 13 13 0 55 0</string>
                <key>verticesUV</key>
                <string>206 16 206 53 193 66 155 66 142 53 142 15 155 2 197 2</string>
            </dict>
            <key>i_group_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{212,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 6 7 9 4 6 9 4 5 6 2 3 4 2 4 9 1 2 9 0 1 9</string>
                <key>vertices</key>
                <string>57 4 64 15 64 49 56 60 48 64 13 64 0 51 0 13 13 0 48 0</string>
                <key>verticesUV</key>
                <string>269 6 276 17 276 51 268 62 260 66 225 66 212 53 212 15 225 2 260 2</string>
            </dict>
            <key>i_not_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{73,52}</string>
                <key>textureRect</key>
                <string>{{282,2},{73,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 7 5 6 7 8 5 4 5 8 3 4 9 0 2 3 0 1 2 0 3 9</string>
                <key>vertices</key>
                <string>57 1 73 11 73 41 56 52 15 52 2 39 0 35 0 16 16 0 53 0</string>
                <key>verticesUV</key>
                <string>339 3 355 13 355 43 338 54 297 54 284 41 282 37 282 18 298 2 335 2</string>
            </dict>
            <key>map_scale_down_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{72,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 4 5 7 3 4 7 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>64 9 64 52 52 64 12 64 0 52 0 12 12 0 51 0</string>
                <key>verticesUV</key>
                <string>136 11 136 54 124 66 84 66 72 54 72 14 84 2 123 2</string>
            </dict>
            <key>map_scale_up_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 4 5 7 3 4 7 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>64 9 64 52 52 64 12 64 0 52 0 12 12 0 51 0</string>
                <key>verticesUV</key>
                <string>66 11 66 54 54 66 14 66 2 54 2 14 14 2 53 2</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef7aee1e16e7a450ff41acd11357bb40:f264662f69ef34e73a0361e8c84c85bc:fc968d165773c8a0a06f49755236c03a$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
