
/main/midnight/proj.win32/Debug.win32
/main/midnight/proj.win10/.vs/citadel/v15

.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
main/midnight/Builds
main/midnight/win32-build
main/midnight/proj.win32/LOM_Debug.win32
main/midnight/proj.win32/DDR_Debug.win32
main/midnight/proj.android_revenge/.idea
main/midnight/proj.android_revenge/app/.cxx
main/midnight/proj.android_revenge/app/release
main/midnight/proj.android_midnight/.idea
main/midnight/proj.android_midnight/app/.cxx
main/midnight/proj.android_midnight/app/release

# vim backup files
*~
main/midnight/cocos2d
