################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/main/midnight/proj.win32/Debug.win32
/main/midnight/proj.win10/.vs/citadel/v15
