.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Windows
main/midnight/win32-build
main/midnight/proj.win32/LOM_Debug.win32
main/midnight/proj.win32/DDR_Debug.win32
main/midnight/run.bat

# Android
main/midnight/proj.android/.idea
main/midnight/proj.android/app/local.properties
main/midnight/proj.android/app/.cxx
main/midnight/proj.android/app/release

# vim backup files
*~

# Misc
main/midnight/Builds
main/midnight/build*
main/midnight/proj.android/app/.idea
main/midnight/proj.android_revenge/.idea
main/midnight/proj.android_revenge/app/.idea
main/midnight/proj.android_revenge/app/.cxx
main/midnight/proj.android_midnight/.idea
main/midnight/proj.android_midnight/app/.cxx
main/midnight/proj.android_midnight/app/.idea
