<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flame01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2,1740},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 3 4 1 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>152 4 255 205 255 256 1 256 1 203 107 2</string>
                <key>verticesUV</key>
                <string>153 1742 256 1943 256 1994 2 1994 2 1941 108 1740</string>
            </dict>
            <key>sky</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,440}</string>
                <key>spriteSourceSize</key>
                <string>{128,440}</string>
                <key>textureRect</key>
                <string>{{2,1294},{128,440}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 440 0 440 0 0 128 0</string>
                <key>verticesUV</key>
                <string>130 1734 2 1734 2 1294 130 1294</string>
            </dict>
            <key>t_flames</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,512}</string>
                <key>spriteSourceSize</key>
                <string>{256,512}</string>
                <key>textureRect</key>
                <string>{{2,776},{256,512}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>256 512 0 512 0 0 256 0</string>
                <key>verticesUV</key>
                <string>258 1288 2 1288 2 776 258 776</string>
            </dict>
            <key>t_fountain</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{446,238}</string>
                <key>spriteSourceSize</key>
                <string>{450,248}</string>
                <key>textureRect</key>
                <string>{{392,2},{446,238}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 5 6 7 2 4 5 2 3 4 2 5 7 7 0 1 7 1 2 0 7 8</string>
                <key>vertices</key>
                <string>271 13 352 114 355 184 449 201 449 247 4 247 3 203 78 173 72 65 113 9</string>
                <key>verticesUV</key>
                <string>660 6 741 107 744 177 838 194 838 240 393 240 392 196 467 166 461 58 502 2</string>
            </dict>
            <key>t_hall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{406,229}</string>
                <key>spriteSourceSize</key>
                <string>{425,230}</string>
                <key>textureRect</key>
                <string>{{392,246},{406,229}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 2 3 4 1 2 4 0 1 5</string>
                <key>vertices</key>
                <string>418 128 395 230 32 230 12 127 140 1 291 1</string>
                <key>verticesUV</key>
                <string>798 373 775 475 412 475 392 372 520 246 671 246</string>
            </dict>
            <key>t_steps</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,768}</string>
                <key>spriteSourceSize</key>
                <string>{384,768}</string>
                <key>textureRect</key>
                <string>{{2,2},{384,768}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>18 20 21 18 19 20 16 17 18 14 15 16 11 13 14 14 3 11 0 18 21 11 12 13 11 9 10 11 4 9 6 7 8 6 8 9 4 5 6 4 6 9 11 3 4 14 18 3 1 2 3 1 3 18 0 1 18</string>
                <key>vertices</key>
                <string>384 425 325 433 325 489 261 497 269 643 325 643 333 707 384 707 384 768 86 768 59 741 51 681 0 681 0 451 59 443 59 387 123 379 123 323 187 315 185 16 243 0 384 0</string>
                <key>verticesUV</key>
                <string>386 427 327 435 327 491 263 499 271 645 327 645 335 709 386 709 386 770 88 770 61 743 53 683 2 683 2 453 61 445 61 389 125 381 125 325 189 317 187 18 245 2 386 2</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>terrain-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b20c1ab913ab0da29cb9b59e2c17906:2d920782894253de5d203033cf5b0b80:8e90b992225262fb38ed17a113ef71b1$</string>
            <key>textureFileName</key>
            <string>terrain-1.png</string>
        </dict>
    </dict>
</plist>
