<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{469,332},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>485 348 469 348 469 332 485 332</string>
            </dict>
            <key>floor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,320}</string>
                <key>spriteSourceSize</key>
                <string>{64,320}</string>
                <key>textureRect</key>
                <string>{{753,545},{64,320}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>64 320 0 320 0 0 64 0</string>
                <key>verticesUV</key>
                <string>817 865 753 865 753 545 817 545</string>
            </dict>
            <key>land_front</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,115}</string>
                <key>spriteSourceSize</key>
                <string>{728,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{728,115}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>728 115 0 115 0 0 728 0</string>
                <key>verticesUV</key>
                <string>729 116 1 116 1 1 729 1</string>
            </dict>
            <key>sky_day</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,448}</string>
                <key>spriteSourceSize</key>
                <string>{64,448}</string>
                <key>textureRect</key>
                <string>{{619,545},{64,448}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>64 448 0 448 0 0 64 0</string>
                <key>verticesUV</key>
                <string>683 993 619 993 619 545 683 545</string>
            </dict>
            <key>sky_night</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,448}</string>
                <key>spriteSourceSize</key>
                <string>{64,448}</string>
                <key>textureRect</key>
                <string>{{686,545},{64,448}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>64 448 0 448 0 0 64 0</string>
                <key>verticesUV</key>
                <string>750 993 686 993 686 545 750 545</string>
            </dict>
            <key>t_downs0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{514,89}</string>
                <key>spriteSourceSize</key>
                <string>{522,89}</string>
                <key>textureRect</key>
                <string>{{362,119},{514,89}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 8 10 4 7 10 0 1 10 6 4 5 4 6 7 1 2 3 1 3 4 1 4 10 0 10 11</string>
                <key>vertices</key>
                <string>291 3 427 63 514 78 503 89 4 89 1 83 0 76 68 20 121 1 154 1 198 15 267 0</string>
                <key>verticesUV</key>
                <string>653 122 789 182 876 197 865 208 366 208 363 202 362 195 430 139 483 120 516 120 560 134 629 119</string>
            </dict>
            <key>t_forest0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{519,170}</string>
                <key>spriteSourceSize</key>
                <string>{519,171}</string>
                <key>textureRect</key>
                <string>{{1,439},{519,170}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 16 17 14 6 7 7 13 14 7 10 11 7 11 12 10 7 9 0 5 15 9 7 8 7 12 13 14 15 6 5 6 15 5 0 1 5 3 4 5 1 3 3 1 2 0 15 17</string>
                <key>vertices</key>
                <string>373 10 440 9 511 49 519 110 519 133 477 171 51 171 48 155 19 148 0 129 5 69 37 35 76 28 114 10 200 5 262 24 309 2 332 1</string>
                <key>verticesUV</key>
                <string>374 448 441 447 512 487 520 548 520 571 478 609 52 609 49 593 20 586 1 567 6 507 38 473 77 466 115 448 201 443 263 462 310 440 333 439</string>
            </dict>
            <key>t_frozenwaste0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,146}</string>
                <key>spriteSourceSize</key>
                <string>{512,146}</string>
                <key>textureRect</key>
                <string>{{1,612},{512,146}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 22 23 19 20 21 17 18 19 15 16 17 14 17 19 14 15 17 1 19 21 13 14 19 13 1 4 13 4 12 8 9 10 12 10 11 6 7 8 5 6 8 12 8 10 12 5 8 2 3 4 1 2 4 12 4 5 1 13 19 0 1 21 0 21 22</string>
                <key>vertices</key>
                <string>161 1 201 56 224 5 230 0 322 73 350 77 386 6 396 6 425 61 456 9 491 91 512 124 512 146 0 146 0 124 14 53 34 16 51 54 61 43 110 61 132 43 150 45 150 0 159 0</string>
                <key>verticesUV</key>
                <string>162 613 202 668 225 617 231 612 323 685 351 689 387 618 397 618 426 673 457 621 492 703 513 736 513 758 1 758 1 736 15 665 35 628 52 666 62 655 111 673 133 655 151 657 151 612 160 612</string>
            </dict>
            <key>t_land1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,50}</string>
                <key>textureRect</key>
                <string>{{104,761},{512,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>512 50 0 50 0 0 512 0</string>
                <key>verticesUV</key>
                <string>616 811 104 811 104 761 616 761</string>
            </dict>
            <key>t_mist0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,118}</string>
                <key>spriteSourceSize</key>
                <string>{475,118}</string>
                <key>textureRect</key>
                <string>{{446,211},{475,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 13 14 12 9 10 10 11 12 1 7 14 12 8 9 12 13 8 7 8 14 5 6 7 4 5 7 7 1 2 7 2 3 7 3 4 1 14 15 0 1 15</string>
                <key>vertices</key>
                <string>308 1 339 24 433 47 459 73 475 108 455 118 451 118 450 117 55 117 54 118 12 118 0 95 24 76 109 18 212 19 263 0</string>
                <key>verticesUV</key>
                <string>754 212 785 235 879 258 905 284 921 319 901 329 897 329 896 328 501 328 500 329 458 329 446 306 470 287 555 229 658 230 709 211</string>
            </dict>
            <key>t_mountain0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{510,317}</string>
                <key>spriteSourceSize</key>
                <string>{512,317}</string>
                <key>textureRect</key>
                <string>{{1,119},{510,317}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>15 1 2 13 14 15 11 12 13 4 13 15 11 4 6 9 10 11 4 11 13 8 9 11 11 6 8 4 5 6 8 6 7 2 4 15 2 3 4 15 16 1 0 1 16 0 16 17</string>
                <key>vertices</key>
                <string>288 1 348 46 361 86 381 113 384 133 433 170 470 237 512 301 512 317 2 317 2 300 56 246 98 151 132 133 168 89 195 78 236 18 276 0</string>
                <key>verticesUV</key>
                <string>287 120 347 165 360 205 380 232 383 252 432 289 469 356 511 420 511 436 1 436 1 419 55 365 97 270 131 252 167 208 194 197 235 137 275 119</string>
            </dict>
            <key>t_snow1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,50}</string>
                <key>textureRect</key>
                <string>{{491,333},{512,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>512 50 0 50 0 0 512 0</string>
                <key>verticesUV</key>
                <string>1003 383 491 383 491 333 1003 333</string>
            </dict>
            <key>t_trees0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-8.5,0}</string>
                <key>spriteSize</key>
                <string>{399,205}</string>
                <key>spriteSourceSize</key>
                <string>{420,205}</string>
                <key>textureRect</key>
                <string>{{1,761},{399,205}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 1 3 3 4 5 5 6 1 1 2 3 1 6 7 0 1 7 19 20 21 18 15 16 8 21 22 18 16 17 18 19 15 19 21 15 14 15 21 11 12 14 12 13 14 10 11 14 14 8 9 14 9 10 8 14 21</string>
                <key>vertices</key>
                <string>78 1 106 62 146 180 85 204 82 205 67 205 2 177 69 0 348 64 382 87 401 124 396 177 340 205 314 205 307 187 265 205 235 205 194 176 185 142 192 112 231 59 284 73 317 57</string>
                <key>verticesUV</key>
                <string>77 762 105 823 145 941 84 965 81 966 66 966 1 938 68 761 347 825 381 848 400 885 395 938 339 966 313 966 306 948 264 966 234 966 193 937 184 903 191 873 230 820 283 834 316 818</string>
            </dict>
            <key>t_water0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{498,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,50}</string>
                <key>textureRect</key>
                <string>{{484,439},{498,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 9 10 4 8 9 5 7 8 5 6 7 4 5 8 3 4 9 2 3 10 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>497 14 503 31 467 43 313 50 154 50 29 42 5 26 17 17 68 3 143 0 417 0</string>
                <key>verticesUV</key>
                <string>976 453 982 470 946 482 792 489 633 489 508 481 484 465 496 456 547 442 622 439 896 439</string>
            </dict>
            <key>t_water1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{498,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,50}</string>
                <key>textureRect</key>
                <string>{{520,492},{498,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 9 10 4 8 9 5 7 8 5 6 7 4 5 8 3 4 9 2 3 10 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>497 14 503 31 467 43 313 50 154 50 29 42 5 26 17 17 68 3 143 0 417 0</string>
                <key>verticesUV</key>
                <string>1012 506 1018 523 982 535 828 542 669 542 544 534 520 518 532 509 583 495 658 492 932 492</string>
            </dict>
            <key>t_water3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{498,50}</string>
                <key>spriteSourceSize</key>
                <string>{512,50}</string>
                <key>textureRect</key>
                <string>{{510,386},{498,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 9 10 4 8 9 5 7 8 5 6 7 4 5 8 3 4 9 2 3 10 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>497 14 503 31 467 43 313 50 154 50 29 42 5 26 17 17 68 3 143 0 417 0</string>
                <key>verticesUV</key>
                <string>1002 400 1008 417 972 429 818 436 659 436 534 428 510 412 522 403 573 389 648 386 922 386</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>citadel_M-0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7abbdb4613187abc685511dd52a297f:3520fc51340d15f5fbf19ae1ca2d9e43:1543540821981b25c2f99ebe8447a4cb$</string>
            <key>textureFileName</key>
            <string>citadel_M-0.png</string>
        </dict>
    </dict>
</plist>
