<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{114,241},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 0 4 6 2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>47 21 59 33 32 59 5 32 17 21 18 5 46 5</string>
                <key>verticesUV</key>
                <string>156 257 168 269 141 295 114 268 126 257 127 241 155 241</string>
            </dict>
            <key>arrow_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{309,120},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 0 6 7 3 4 5 0 1 3 1 2 3 0 3 6</string>
                <key>vertices</key>
                <string>61 32 37 58 30 57 28 47 7 47 7 18 25 14 35 4</string>
                <key>verticesUV</key>
                <string>363 148 339 174 332 173 330 163 309 163 309 134 327 130 337 120</string>
            </dict>
            <key>arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{365,114},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 3 1 2 3 4 1 1 4 6 0 1 6</string>
                <key>vertices</key>
                <string>59 29 46 40 46 56 18 56 17 40 5 29 32 2</string>
                <key>verticesUV</key>
                <string>419 141 406 152 406 168 378 168 377 152 365 141 392 114</string>
            </dict>
            <key>background_tile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 128 0 128 0 0 128 0</string>
                <key>verticesUV</key>
                <string>130 130 2 130 2 2 130 2</string>
            </dict>
            <key>close</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,337},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 5 0 4 5 6 0 4 0 3 3 0 2 0 6 7</string>
                <key>vertices</key>
                <string>62 22 62 46 46 62 18 62 2 46 2 18 18 2 52 2</string>
                <key>verticesUV</key>
                <string>62 357 62 381 46 397 18 397 2 381 2 353 18 337 52 337</string>
            </dict>
            <key>f_dead!</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{136,76},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 6 4 5 6 4 6 2 4 2 3 1 2 6 0 6 7</string>
                <key>vertices</key>
                <string>62 31 58 46 46 58 24 64 5 45 5 14 23 5 53 5</string>
                <key>verticesUV</key>
                <string>193 102 189 117 177 129 155 135 136 116 136 85 154 76 184 76</string>
            </dict>
            <key>i_big_map</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{341,2},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>62 64 6 64 1 39 1 0 62 0</string>
                <key>verticesUV</key>
                <string>402 66 346 66 341 41 341 2 402 2</string>
            </dict>
            <key>i_center</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,270},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 4 5 7 3 4 7 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>63 22 63 43 43 63 22 63 2 43 2 22 22 2 43 2</string>
                <key>verticesUV</key>
                <string>63 290 63 311 43 331 22 331 2 311 2 290 22 270 43 270</string>
            </dict>
            <key>i_critters</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,403},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 6 7 0 4 5 6 6 0 4 1 2 3 4 0 1 4 1 3</string>
                <key>vertices</key>
                <string>60 20 63 33 58 52 43 61 25 61 6 53 2 25 17 4 49 4</string>
                <key>verticesUV</key>
                <string>60 419 63 432 58 451 43 460 25 460 6 452 2 424 17 403 49 403</string>
            </dict>
            <key>i_guide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{136,2},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 3 5 3 4 5 1 2 3 0 1 3 0 5 8</string>
                <key>vertices</key>
                <string>49 9 64 39 64 51 37 62 18 63 0 25 0 15 2 13 36 1</string>
                <key>verticesUV</key>
                <string>185 10 200 40 200 52 173 63 154 64 136 26 136 16 138 14 172 2</string>
            </dict>
            <key>i_leave_group</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{408,2},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 0 2 3 0 3 4 0 1 2 0 4 5</string>
                <key>vertices</key>
                <string>40 6 64 18 64 38 41 63 13 55 0 28 16 4</string>
                <key>verticesUV</key>
                <string>448 4 472 16 472 36 449 61 421 53 408 26 424 2</string>
            </dict>
            <key>i_not_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{266,134},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>37 26 0 26 0 0 37 0</string>
                <key>verticesUV</key>
                <string>303 160 266 160 266 134 303 134</string>
            </dict>
            <key>i_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{69,270},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 6 8 9 0 9 11 6 7 8 0 3 6 6 3 4 6 4 5 0 1 2 0 2 3 0 6 9</string>
                <key>vertices</key>
                <string>44 19 59 20 59 42 43 44 43 57 22 64 20 42 6 42 6 20 22 18 22 5 43 5</string>
                <key>verticesUV</key>
                <string>107 284 122 285 122 307 106 309 106 322 85 329 83 307 69 307 69 285 85 283 85 270 106 270</string>
            </dict>
            <key>i_recruit_minus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{59,450},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 5 6 4 2 3 4 5 2 0 2 6 0 1 2</string>
                <key>vertices</key>
                <string>64 59 28 59 25 42 0 42 0 23 10 13 64 13</string>
                <key>verticesUV</key>
                <string>123 496 87 496 84 479 59 479 59 460 69 450 123 450</string>
            </dict>
            <key>i_recruit_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-2.5}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{68,335},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 6 3 5 3 4 1 2 3 1 3 7 0 1 7</string>
                <key>vertices</key>
                <string>64 18 64 34 52 44 42 41 38 58 0 58 0 11 49 11</string>
                <key>verticesUV</key>
                <string>132 342 132 358 120 368 110 365 106 382 68 382 68 335 117 335</string>
            </dict>
            <key>i_small_map</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{273,2},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 4 5 0 2 0 1 2 3 0 4 0 3</string>
                <key>vertices</key>
                <string>61 21 64 53 53 64 15 64 1 55 1 1 56 1</string>
                <key>verticesUV</key>
                <string>333 22 336 54 325 65 287 65 273 56 273 2 328 2</string>
            </dict>
            <key>i_tutorial_flash</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{204,2},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>57 1 64 53 58 63 14 64 11 56 2 0</string>
                <key>verticesUV</key>
                <string>259 3 266 55 260 65 216 66 213 58 204 2</string>
            </dict>
            <key>i_tutorial_onoff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{204,2},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>57 1 64 53 58 63 14 64 11 56 2 0</string>
                <key>verticesUV</key>
                <string>259 3 266 55 260 65 216 66 213 58 204 2</string>
            </dict>
            <key>lord_battle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{69,388},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 5 0 4 5 6 0 4 0 3 3 0 2 0 6 7</string>
                <key>vertices</key>
                <string>60 24 60 45 45 60 20 60 5 45 5 20 20 5 51 4</string>
                <key>verticesUV</key>
                <string>124 408 124 429 109 444 84 444 69 429 69 404 84 389 115 388</string>
            </dict>
            <key>lord_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,-1}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{269,71},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 0 1 3 1 2 3 0 3 5</string>
                <key>vertices</key>
                <string>63 32 54 59 13 61 6 41 6 19 20 5 54 5</string>
                <key>verticesUV</key>
                <string>326 98 317 125 276 127 269 107 269 85 283 71 317 71</string>
            </dict>
            <key>map_current_location</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,136},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>25 10 11 13 8 9 17 4 5 6 16 17 3 18 19 22 0 1 20 21 1 20 1 2 19 20 2 3 19 2 18 3 4 17 18 4 17 5 6 16 6 7 15 16 7 14 15 7 14 7 8 13 14 8 12 13 9 12 9 10 25 12 10 24 25 11 23 24 11 22 1 21 23 11 0 22 23 0</string>
                <key>vertices</key>
                <string>128 35 128 90 104 122 80 128 47 128 34 125 10 105 0 80 0 40 20 10 44 0 93 0 39 13 19 30 9 51 8 73 17 95 41 116 59 121 90 115 110 98 120 77 121 55 112 33 88 12 70 7</string>
                <key>verticesUV</key>
                <string>130 171 130 226 106 258 82 264 49 264 36 261 12 241 2 216 2 176 22 146 46 136 95 136 41 149 21 166 11 187 10 209 19 231 43 252 61 257 92 251 112 234 122 213 123 191 114 169 90 148 72 143</string>
            </dict>
            <key>map_rider</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,3.5}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{402,66},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 2 2 3 4 0 2 4 0 4 5</string>
                <key>vertices</key>
                <string>32 1 59 28 39 56 17 57 8 46 23 0</string>
                <key>verticesUV</key>
                <string>426 67 453 94 433 122 411 123 402 112 417 66</string>
            </dict>
            <key>map_scale_down_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{2,468},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>34 500 2 500 2 468 34 468</string>
            </dict>
            <key>map_scale_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{26,187},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 0 6 7 4 5 6 3 4 6 3 6 0 0 1 2 3 0 2</string>
                <key>vertices</key>
                <string>64 26 57 54 31 62 17 57 5 45 0 28 6 16 21 0 47 0</string>
                <key>verticesUV</key>
                <string>90 213 83 241 57 249 43 244 31 232 26 215 32 203 47 187 73 187</string>
            </dict>
            <key>map_token_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{200,72},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 3 5 6 3 4 5 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>55 14 63 40 44 59 20 59 1 40 9 15 23 8 41 8</string>
                <key>verticesUV</key>
                <string>254 78 262 104 243 123 219 123 200 104 208 79 222 72 240 72</string>
            </dict>
            <key>map_token_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{331,72},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 3 5 6 3 4 5 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>55 14 63 40 44 59 20 59 1 40 9 15 23 8 41 8</string>
                <key>verticesUV</key>
                <string>385 78 393 104 374 123 350 123 331 104 339 79 353 72 371 72</string>
            </dict>
            <key>map_warrior</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,1}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{136,185},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 3 5 7 3 4 5 0 2 3 0 1 2 0 3 7</string>
                <key>vertices</key>
                <string>54 21 61 34 54 47 37 55 21 56 6 33 7 10 31 6</string>
                <key>verticesUV</key>
                <string>184 200 191 213 184 226 167 234 151 235 136 212 137 189 161 185</string>
            </dict>
            <key>mouse_look_left_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{446,51},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>58 30 55 57 28 48 5 32 5 25 31 5</string>
                <key>verticesUV</key>
                <string>499 76 496 103 469 94 446 78 446 71 472 51</string>
            </dict>
            <key>mouse_look_right_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-1.5}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{442,101},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>59 25 59 32 38 46 8 60 7 26 33 7</string>
                <key>verticesUV</key>
                <string>494 119 494 126 473 140 443 154 442 120 468 101</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7122aea8efc8bfb0a6fd4dc4e03c8da:2cdcbb0f5e4311d5a095865dd7ef7d62:fc968d165773c8a0a06f49755236c03a$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
