<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>The Lords of Midnight</string>
    <key>CFBundleExecutable</key>
    <string>midnight</string>
    <key>CFBundleIdentifier</key>
    <string>com.chillihugger.lordsofmidnight</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>The Lords of Midnight</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.9</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>52</string>
    <key>UIAppFonts</key>
    <array/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 1984 - 2025. All rights reserved.</string>
    <key>GCSupportedGameControllers</key>
    <array>
           <dict>
                  <key>ProfileName</key>
                  <string>ExtendedGamepad</string>
           </dict>
           <dict>
                  <key>ProfileName</key>
                  <string>MicroGamepad</string>
           </dict>
           <dict>
                  <key>ProfileName</key>
                  <string>DirectionalGamepad</string>
           </dict>
    </array>
    <key>GCSupportsControllerUserInteraction</key>
    <true/>
</dict>
</plist>
