<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{125,83},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 0 4 6 2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>47 21 59 33 32 59 5 32 17 21 18 5 46 5</string>
                <key>verticesUV</key>
                <string>167 99 179 111 152 137 125 110 137 99 138 83 166 83</string>
            </dict>
            <key>arrow_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{100,122},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 0 6 7 3 4 5 0 1 3 1 2 3 0 3 6</string>
                <key>vertices</key>
                <string>61 32 37 58 30 57 28 47 7 47 7 18 25 14 35 4</string>
                <key>verticesUV</key>
                <string>154 150 130 176 123 175 121 165 100 165 100 136 118 132 128 122</string>
            </dict>
            <key>arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{162,110},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 3 1 2 3 4 1 1 4 6 0 1 6</string>
                <key>vertices</key>
                <string>59 29 46 40 46 56 18 56 17 40 5 29 32 2</string>
                <key>verticesUV</key>
                <string>216 137 203 148 203 164 175 164 174 148 162 137 189 110</string>
            </dict>
            <key>close</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,203},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 5 0 4 5 6 0 4 0 3 3 0 2 0 6 7</string>
                <key>vertices</key>
                <string>62 22 62 46 46 62 18 62 2 46 2 18 18 2 52 2</string>
                <key>verticesUV</key>
                <string>62 223 62 247 46 263 18 263 2 247 2 219 18 203 52 203</string>
            </dict>
            <key>f_dead!</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,337},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 6 4 5 6 4 6 2 4 2 3 1 2 6 0 6 7</string>
                <key>vertices</key>
                <string>62 31 58 46 46 58 24 64 5 45 5 14 23 5 53 5</string>
                <key>verticesUV</key>
                <string>59 363 55 378 43 390 21 396 2 377 2 346 20 337 50 337</string>
            </dict>
            <key>i_big_map</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{267,2},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 2 4 0 1 2</string>
                <key>vertices</key>
                <string>62 64 6 64 1 39 1 0 62 0</string>
                <key>verticesUV</key>
                <string>328 66 272 66 267 41 267 2 328 2</string>
            </dict>
            <key>i_center</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,136},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 4 5 7 3 4 7 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>63 22 63 43 43 63 22 63 2 43 2 22 22 2 43 2</string>
                <key>verticesUV</key>
                <string>63 156 63 177 43 197 22 197 2 177 2 156 22 136 43 136</string>
            </dict>
            <key>i_critters</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,269},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 6 7 0 4 5 6 6 0 4 1 2 3 4 0 1 4 1 3</string>
                <key>vertices</key>
                <string>60 20 63 33 58 52 43 61 25 61 6 53 2 25 17 4 49 4</string>
                <key>verticesUV</key>
                <string>60 285 63 298 58 317 43 326 25 326 6 318 2 290 17 269 49 269</string>
            </dict>
            <key>i_guide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{132,2},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 3 5 3 4 5 1 2 3 0 1 3 0 5 8</string>
                <key>vertices</key>
                <string>49 9 64 39 64 51 37 62 18 63 0 25 0 15 2 13 36 1</string>
                <key>verticesUV</key>
                <string>181 10 196 40 196 52 169 63 150 64 132 26 132 16 134 14 168 2</string>
            </dict>
            <key>i_leave_group</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{334,2},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 0 2 3 0 3 4 0 1 2 0 4 5</string>
                <key>vertices</key>
                <string>40 6 64 18 64 38 41 63 13 55 0 28 16 4</string>
                <key>verticesUV</key>
                <string>374 4 398 16 398 36 375 61 347 53 334 26 350 2</string>
            </dict>
            <key>i_not_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{342,131},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>37 26 0 26 0 0 37 0</string>
                <key>verticesUV</key>
                <string>379 157 342 157 342 131 379 131</string>
            </dict>
            <key>i_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{380,50},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 6 8 9 0 9 11 6 7 8 0 3 6 6 3 4 6 4 5 0 1 2 0 2 3 0 6 9</string>
                <key>vertices</key>
                <string>44 19 59 20 59 42 43 44 43 57 22 64 20 42 6 42 6 20 22 18 22 5 43 5</string>
                <key>verticesUV</key>
                <string>418 64 433 65 433 87 417 89 417 102 396 109 394 87 380 87 380 65 396 63 396 50 417 50</string>
            </dict>
            <key>i_recruit_minus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{179,72},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 5 6 4 2 3 4 5 2 0 2 6 0 1 2</string>
                <key>vertices</key>
                <string>64 59 28 59 25 42 0 42 0 23 10 13 64 13</string>
                <key>verticesUV</key>
                <string>243 118 207 118 204 101 179 101 179 82 189 72 243 72</string>
            </dict>
            <key>i_recruit_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-2.5}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{249,72},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 5 6 3 5 3 4 1 2 3 1 3 7 0 1 7</string>
                <key>vertices</key>
                <string>64 18 64 34 52 44 42 41 38 58 0 58 0 11 49 11</string>
                <key>verticesUV</key>
                <string>313 79 313 95 301 105 291 102 287 119 249 119 249 72 298 72</string>
            </dict>
            <key>i_tutorial_flash</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{200,2},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>57 1 64 53 58 63 14 64 11 56 2 0</string>
                <key>verticesUV</key>
                <string>255 3 262 55 256 65 212 66 209 58 200 2</string>
            </dict>
            <key>i_tutorial_onoff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{200,2},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>57 1 64 53 58 63 14 64 11 56 2 0</string>
                <key>verticesUV</key>
                <string>255 3 262 55 256 65 212 66 209 58 200 2</string>
            </dict>
            <key>i_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{72,289},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>37 26 0 26 0 0 37 0</string>
                <key>verticesUV</key>
                <string>109 315 72 315 72 289 109 289</string>
            </dict>
            <key>lord_battle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{319,69},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 5 0 4 5 6 0 4 0 3 3 0 2 0 6 7</string>
                <key>vertices</key>
                <string>60 24 60 45 45 60 20 60 5 45 5 20 20 5 51 4</string>
                <key>verticesUV</key>
                <string>374 89 374 110 359 125 334 125 319 110 319 85 334 70 365 69</string>
            </dict>
            <key>lord_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,-1}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,402},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 0 1 3 1 2 3 0 3 5</string>
                <key>vertices</key>
                <string>63 32 54 59 13 61 6 41 6 19 20 5 54 5</string>
                <key>verticesUV</key>
                <string>59 429 50 456 9 458 2 438 2 416 16 402 50 402</string>
            </dict>
            <key>lord_night</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{63,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{57,172},{63,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 6 7 4 5 6 3 4 7 1 2 3 1 3 7 0 1 7</string>
                <key>vertices</key>
                <string>56 12 63 32 53 59 20 59 7 46 0 25 20 5 42 5</string>
                <key>verticesUV</key>
                <string>113 179 120 199 110 226 77 226 64 213 57 192 77 172 99 172</string>
            </dict>
            <key>map_current_location</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>25 10 11 13 8 9 17 4 5 6 16 17 3 18 19 22 0 1 20 21 1 20 1 2 19 20 2 3 19 2 18 3 4 17 18 4 17 5 6 16 6 7 15 16 7 14 15 7 14 7 8 13 14 8 12 13 9 12 9 10 25 12 10 24 25 11 23 24 11 22 1 21 23 11 0 22 23 0</string>
                <key>vertices</key>
                <string>128 35 128 90 104 122 80 128 47 128 34 125 10 105 0 80 0 40 20 10 44 0 93 0 39 13 19 30 9 51 8 73 17 95 41 116 59 121 90 115 110 98 120 77 121 55 112 33 88 12 70 7</string>
                <key>verticesUV</key>
                <string>130 37 130 92 106 124 82 130 49 130 36 127 12 107 2 82 2 42 22 12 46 2 95 2 41 15 21 32 11 53 10 75 19 97 43 118 61 123 92 117 112 100 122 79 123 57 114 35 90 14 72 9</string>
            </dict>
            <key>map_scale_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{26,53},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 0 6 7 4 5 6 3 4 6 3 6 0 0 1 2 3 0 2</string>
                <key>vertices</key>
                <string>64 26 57 54 31 62 17 57 5 45 0 28 6 16 21 0 47 0</string>
                <key>verticesUV</key>
                <string>90 79 83 107 57 115 43 110 31 98 26 81 32 69 47 53 73 53</string>
            </dict>
            <key>map_scale_up_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{2,464},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>34 496 2 496 2 464 34 464</string>
            </dict>
            <key>map_token_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{63,232},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 3 5 6 3 4 5 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>55 14 63 40 44 59 20 59 1 40 9 15 23 8 41 8</string>
                <key>verticesUV</key>
                <string>117 238 125 264 106 283 82 283 63 264 71 239 85 232 103 232</string>
            </dict>
            <key>map_token_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{411,2},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 3 5 6 3 4 5 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>55 14 63 40 44 59 20 59 1 40 9 15 23 8 41 8</string>
                <key>verticesUV</key>
                <string>465 8 473 34 454 53 430 53 411 34 419 9 433 2 451 2</string>
            </dict>
            <key>map_warrior</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,1}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{227,125},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 3 5 7 3 4 5 0 2 3 0 1 2 0 3 7</string>
                <key>vertices</key>
                <string>54 21 61 34 54 47 37 55 21 56 6 33 7 10 31 6</string>
                <key>verticesUV</key>
                <string>275 140 282 153 275 166 258 174 242 175 227 152 228 129 252 125</string>
            </dict>
            <key>mouse_look_left_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{283,111},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>58 30 55 57 28 48 5 32 5 25 31 5</string>
                <key>verticesUV</key>
                <string>336 136 333 163 306 154 283 138 283 131 309 111</string>
            </dict>
            <key>mouse_look_right_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-1.5}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{126,168},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>59 25 59 32 38 46 8 60 7 26 33 7</string>
                <key>verticesUV</key>
                <string>178 186 178 193 157 207 127 221 126 187 152 168</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bbd62f331120007000af406b084b2a5:667a9ee9938c33de1c4bf51778797930:fc968d165773c8a0a06f49755236c03a$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
