<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{397,2},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 0 4 6 2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>47 21 59 33 32 59 5 32 17 21 18 5 46 5</string>
                <key>verticesUV</key>
                <string>439 18 451 30 424 56 397 29 409 18 410 2 438 2</string>
            </dict>
            <key>arrow_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,-3}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{457,66},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 1 4 6 4 1 2 4 2 3 1 6 7 0 1 7</string>
                <key>vertices</key>
                <string>35 8 36 17 57 18 57 47 43 48 30 63 4 33 26 7</string>
                <key>verticesUV</key>
                <string>488 67 489 76 510 77 510 106 496 107 483 122 457 92 479 66</string>
            </dict>
            <key>arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,3}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{395,456},{51,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 2 3 5 3 4 5 2 5 7 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>56 24 56 33 47 34 46 56 18 56 17 40 5 29 31 2</string>
                <key>verticesUV</key>
                <string>446 478 446 487 437 488 436 510 408 510 407 494 395 483 421 456</string>
            </dict>
            <key>i_group_disband</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{2,55},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>34 87 2 87 2 55 34 55</string>
            </dict>
            <key>i_group_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{2,93},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>34 125 2 125 2 93 34 93</string>
            </dict>
            <key>i_not_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{2,131},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>37 7 37 26 0 26 0 0 34 0</string>
                <key>verticesUV</key>
                <string>39 138 39 157 2 157 2 131 36 131</string>
            </dict>
            <key>i_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{457,2},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 6 8 9 0 9 11 6 7 8 3 4 6 4 5 6 0 3 6 0 1 2 0 2 3 0 6 9</string>
                <key>vertices</key>
                <string>45 20 59 20 59 42 44 43 43 57 22 64 20 42 6 42 6 20 22 18 22 5 43 5</string>
                <key>verticesUV</key>
                <string>496 17 510 17 510 39 495 40 494 54 473 61 471 39 457 39 457 17 473 15 473 2 494 2</string>
            </dict>
            <key>i_recruit_minus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-4.5}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 6 7 5 3 4 5 6 3 2 3 6 0 2 7 0 1 2</string>
                <key>vertices</key>
                <string>64 59 28 60 23 43 9 42 0 33 0 23 10 13 64 13</string>
                <key>verticesUV</key>
                <string>66 48 30 49 25 32 11 31 2 22 2 12 12 2 66 2</string>
            </dict>
            <key>lord_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,454},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 6 7 4 5 6 1 2 4 2 3 4 0 1 4 0 4 7</string>
                <key>vertices</key>
                <string>60 19 60 45 46 59 13 61 6 41 6 19 20 5 46 5</string>
                <key>verticesUV</key>
                <string>56 468 56 494 42 508 9 510 2 490 2 468 16 454 42 454</string>
            </dict>
            <key>map_rider</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,3.5}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{164,453},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 4 2 3 4 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>32 1 58 27 39 56 17 57 8 46 23 0</string>
                <key>verticesUV</key>
                <string>188 454 214 480 195 509 173 510 164 499 179 453</string>
            </dict>
            <key>map_scale_knuckle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{57,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,16}</string>
                <key>textureRect</key>
                <string>{{213,494},{57,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>61 16 4 16 4 0 61 0</string>
                <key>verticesUV</key>
                <string>270 510 213 510 213 494 270 494</string>
            </dict>
            <key>map_token_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{454,448},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 3 4 5 3 5 1 0 1 5 0 5 6</string>
                <key>vertices</key>
                <string>58 18 58 49 35 64 13 56 2 33 11 13 34 2</string>
                <key>verticesUV</key>
                <string>510 464 510 495 487 510 465 502 454 479 463 459 486 448</string>
            </dict>
            <key>map_warrior</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,-1.5}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{72,2},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 0 1 0 3 4 3 1 2 0 4 5</string>
                <key>vertices</key>
                <string>40 8 57 25 57 45 25 61 1 27 11 6</string>
                <key>verticesUV</key>
                <string>111 4 128 21 128 41 96 57 72 23 82 2</string>
            </dict>
            <key>mouse_look_left_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,0.5}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{459,394},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>56 27 56 56 27 49 5 32 5 25 29 7</string>
                <key>verticesUV</key>
                <string>510 414 510 443 481 436 459 419 459 412 483 394</string>
            </dict>
            <key>mouse_look_right_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3.5,0.5}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,401},{57,47}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>50 17 64 31 31 50 8 55 7 26 32 8</string>
                <key>verticesUV</key>
                <string>45 410 59 424 26 443 3 448 2 419 27 401</string>
            </dict>
            <key>mouse_move_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{62,452},{51,58}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 6 7 5 1 4 1 2 4 2 3 4 5 6 1 0 1 7</string>
                <key>vertices</key>
                <string>58 39 43 44 43 59 19 62 19 49 7 37 28 4 36 4</string>
                <key>verticesUV</key>
                <string>113 487 98 492 98 507 74 510 74 497 62 485 83 452 91 452</string>
            </dict>
            <key>mouse_normal_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3,0.5}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{108,451},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 5 0 1 5 1 2 0 5 6</string>
                <key>vertices</key>
                <string>20 5 54 32 54 52 41 61 33 61 19 47 4 2</string>
                <key>verticesUV</key>
                <string>124 454 158 481 158 501 145 510 137 510 123 496 108 451</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dc062dd174e1467f220637f2dd885b7:1f7e17b2e0a841da2cc8ea251615bb18:81d0a9937121b9cb28ca126509a4844e$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
