<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,0}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{139,2},{51,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 4 5 6 3 4 6 0 6 8 0 1 2 0 2 3 0 3 6</string>
                <key>vertices</key>
                <string>46 28 56 28 56 37 31 59 5 32 10 28 18 28 18 5 46 5</string>
                <key>verticesUV</key>
                <string>180 25 190 25 190 34 165 56 139 29 144 25 152 25 152 2 180 2</string>
            </dict>
            <key>arrow_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1.5}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{41,235},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 7 8 4 5 6 1 4 6 2 3 4 1 2 4 1 6 7 0 1 8</string>
                <key>vertices</key>
                <string>35 11 35 18 57 18 57 47 38 47 31 61 7 36 7 29 30 6</string>
                <key>verticesUV</key>
                <string>69 240 69 247 91 247 91 276 72 276 65 290 41 265 41 258 64 235</string>
            </dict>
            <key>arrow_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{62,188},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 5 6 7 4 5 7 0 7 9 0 1 4 2 3 4 1 2 4 0 4 7</string>
                <key>vertices</key>
                <string>57 28 57 37 35 60 30 55 30 47 7 47 7 18 30 18 30 8 37 8</string>
                <key>verticesUV</key>
                <string>112 208 112 217 90 240 85 235 85 227 62 227 62 198 85 198 85 188 92 188</string>
            </dict>
            <key>arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2.5}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{97,221},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 2 3 5 3 4 5 2 5 8 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>56 24 56 33 46 33 46 56 18 56 18 33 8 33 8 24 32 3</string>
                <key>verticesUV</key>
                <string>145 242 145 251 135 251 135 274 107 274 107 251 97 251 97 242 121 221</string>
            </dict>
            <key>f_dead!</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,132},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 8 9 10 7 8 10 2 10 0 5 6 7 4 5 7 2 3 4 2 7 10 0 1 2 7 2 4</string>
                <key>vertices</key>
                <string>52 11 60 23 60 40 53 54 40 60 23 60 9 52 5 40 5 22 11 11 23 5 41 4</string>
                <key>verticesUV</key>
                <string>49 139 57 151 57 168 50 182 37 188 20 188 6 180 2 168 2 150 8 139 20 133 38 132</string>
            </dict>
            <key>i_filter_tunnel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,65},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 6 8 1 4 5 6 3 4 6 1 2 3 6 1 3 0 1 9</string>
                <key>vertices</key>
                <string>60 19 60 40 53 54 40 60 22 60 11 54 3 41 3 20 20 3 44 3</string>
                <key>verticesUV</key>
                <string>59 81 59 102 52 116 39 122 21 122 10 116 2 103 2 82 19 65 43 65</string>
            </dict>
            <key>i_group_disband</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{299,2},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>331 34 299 34 299 2 331 2</string>
            </dict>
            <key>i_group_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{337,2},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>369 34 337 34 337 2 369 2</string>
            </dict>
            <key>i_leave_group</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,-0.5}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 6 7 10 4 5 6 1 4 6 1 3 4 1 2 3 1 6 10 0 1 10</string>
                <key>vertices</key>
                <string>44 6 54 16 64 21 64 38 47 56 32 60 19 56 7 44 4 26 13 11 25 5</string>
                <key>verticesUV</key>
                <string>42 3 52 13 62 18 62 35 45 53 30 57 17 53 5 41 2 23 11 8 23 2</string>
            </dict>
            <key>i_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,322},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 8 9 0 9 11 6 7 9 0 6 9 3 4 5 1 2 3 3 6 0 3 0 1 6 3 5</string>
                <key>vertices</key>
                <string>43 20 59 20 59 42 43 42 43 58 22 58 22 42 6 42 6 20 22 20 22 5 43 5</string>
                <key>verticesUV</key>
                <string>39 337 55 337 55 359 39 359 39 375 18 375 18 359 2 359 2 337 18 337 18 322 39 322</string>
            </dict>
            <key>lord_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-0.5}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,194},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 1 2 5 3 4 5 2 3 5 0 1 5 0 5 8</string>
                <key>vertices</key>
                <string>60 19 60 45 46 59 22 60 11 52 6 41 6 19 20 5 46 5</string>
                <key>verticesUV</key>
                <string>56 208 56 234 42 248 18 249 7 241 2 230 2 208 16 194 42 194</string>
            </dict>
            <key>lord_night</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{73,2},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 2 3 4 5 6 7 4 5 7 2 4 7 1 2 7 1 7 10 0 1 10</string>
                <key>vertices</key>
                <string>55 13 60 24 60 40 54 52 44 59 20 59 5 44 5 24 10 12 20 5 44 5</string>
                <key>verticesUV</key>
                <string>123 10 128 21 128 37 122 49 112 56 88 56 73 41 73 21 78 9 88 2 112 2</string>
            </dict>
            <key>map_scale_down_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{261,2},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>293 34 261 34 261 2 293 2</string>
            </dict>
            <key>map_token_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1.5}</string>
                <key>spriteSize</key>
                <string>{54,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,381},{54,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 1 8 10 6 7 8 2 4 6 4 5 6 2 3 4 1 2 6 1 6 8 0 1 10</string>
                <key>vertices</key>
                <string>53 15 58 26 58 41 53 52 43 59 20 59 8 47 4 33 8 19 20 8 43 8</string>
                <key>verticesUV</key>
                <string>51 388 56 399 56 414 51 425 41 432 18 432 6 420 2 406 6 392 18 381 41 381</string>
            </dict>
            <key>map_token_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-1.5}</string>
                <key>spriteSize</key>
                <string>{54,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,438},{54,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 1 8 10 6 7 8 2 4 6 4 5 6 2 3 4 1 2 6 1 6 8 0 1 10</string>
                <key>vertices</key>
                <string>53 15 58 26 58 41 53 52 43 59 20 59 8 47 4 33 8 19 20 8 43 8</string>
                <key>verticesUV</key>
                <string>51 445 56 456 56 471 51 482 41 489 18 489 6 477 2 463 6 449 18 438 41 438</string>
            </dict>
            <key>map_warrior</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,1}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{198,2},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 0 7 8 5 0 4 5 6 0 0 2 3 0 1 2 0 3 4 0 6 7</string>
                <key>vertices</key>
                <string>41 19 51 19 57 25 57 45 37 55 21 56 6 33 7 17 13 9 35 6</string>
                <key>verticesUV</key>
                <string>233 15 243 15 249 21 249 41 229 51 213 52 198 29 199 13 205 5 227 2</string>
            </dict>
            <key>mouse_move_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,258},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 1 7 9 6 4 5 6 7 4 1 2 4 2 3 4 1 4 7 0 1 9</string>
                <key>vertices</key>
                <string>58 39 43 44 43 59 19 62 20 41 10 41 9 33 18 21 28 4 36 4</string>
                <key>verticesUV</key>
                <string>51 293 36 298 36 313 12 316 13 295 3 295 2 287 11 275 21 258 29 258</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adce60add3830e8ab9a6423bb8ff74a8:7241e2632e8580741069d09c7894e736:fc968d165773c8a0a06f49755236c03a$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
