<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_quest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,118}</string>
                <key>spriteSourceSize</key>
                <string>{170,118}</string>
                <key>textureRect</key>
                <string>{{2,476},{170,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_destroy</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{2,2},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_find</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{232,2},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_follow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{462,2},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_goto</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{692,2},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_guard</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{2,160},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_join</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{232,160},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_kill</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{462,160},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_recruit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{692,160},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_rescue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{2,318},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_rest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{232,318},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_seize</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{462,318},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quest_take</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,152}</string>
                <key>spriteSourceSize</key>
                <string>{224,152}</string>
                <key>textureRect</key>
                <string>{{692,318},{224,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quest-0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>quest-0.png</string>
        </dict>
    </dict>
</plist>
