<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,0}</string>
                <key>spriteSize</key>
                <string>{51,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{458,319},{51,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 4 5 6 3 4 6 0 6 8 0 1 2 0 2 3 0 3 6</string>
                <key>vertices</key>
                <string>46 28 56 28 56 37 31 59 5 32 10 28 18 28 18 5 46 5</string>
                <key>verticesUV</key>
                <string>499 342 509 342 509 351 484 373 458 346 463 342 471 342 471 319 499 319</string>
            </dict>
            <key>background_tile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{32,128}</string>
                <key>textureRect</key>
                <string>{{295,256},{32,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 128 0 128 0 0 32 0</string>
                <key>verticesUV</key>
                <string>327 384 295 384 295 256 327 256</string>
            </dict>
            <key>book</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{220,267}</string>
                <key>spriteSourceSize</key>
                <string>{256,281}</string>
                <key>textureRect</key>
                <string>{{2,2},{220,267}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 3 1 2 5 3 4 5 7 3 3 7 1 1 7 8 0 1 8</string>
                <key>vertices</key>
                <string>183 8 239 218 239 234 91 273 77 274 19 55 26 46 78 33 171 7</string>
                <key>verticesUV</key>
                <string>166 3 222 213 222 229 74 268 60 269 2 50 9 41 61 28 154 2</string>
            </dict>
            <key>bookmark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{67,119}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{441,2},{67,119}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 8 0 7 7 1 3 6 7 4 6 4 5 3 4 7 7 0 1 3 1 2 8 9 0</string>
                <key>vertices</key>
                <string>85 44 94 89 94 114 74 101 69 105 59 124 54 123 44 76 27 16 64 5 74 5</string>
                <key>verticesUV</key>
                <string>499 41 508 86 508 111 488 98 483 102 473 121 468 120 458 73 441 13 478 2 488 2</string>
            </dict>
            <key>bookmark_overlay</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3.5,6}</string>
                <key>spriteSize</key>
                <string>{59,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{230,237},{59,104}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 14 15 12 0 1 7 9 10 7 8 9 6 7 10 4 10 11 3 11 12 6 4 5 4 6 10 3 4 11 1 2 3 0 12 13 1 3 12 0 13 15</string>
                <key>vertices</key>
                <string>84 57 90 91 90 106 74 96 68 98 61 110 56 110 44 58 31 14 44 13 61 79 68 84 77 82 68 43 57 7 70 6</string>
                <key>verticesUV</key>
                <string>283 288 289 322 289 337 273 327 267 329 260 341 255 341 243 289 230 245 243 244 260 310 267 315 276 313 267 274 256 238 269 237</string>
            </dict>
            <key>circle_selector</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{212,2},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>25 26 27 0 2 25 24 19 21 22 23 24 22 24 21 24 25 19 19 20 21 19 25 2 17 18 19 16 17 19 14 16 19 14 15 16 12 14 19 12 13 14 10 11 12 9 10 12 2 7 9 7 8 9 2 9 12 7 2 5 7 5 6 2 4 5 2 3 4 19 2 12 0 1 2 0 25 27</string>
                <key>vertices</key>
                <string>167 11 186 19 201 29 221 46 239 74 249 105 249 150 239 180 228 199 213 216 198 229 166 245 144 249 105 249 81 241 62 232 47 220 24 197 8 162 6 142 6 105 14 81 23 61 42 37 65 22 81 14 105 6 147 6</string>
                <key>verticesUV</key>
                <string>373 7 392 15 407 25 427 42 445 70 455 101 455 146 445 176 434 195 419 212 404 225 372 241 350 245 311 245 287 237 268 228 253 216 230 193 214 158 212 138 212 101 220 77 229 57 248 33 271 18 287 10 311 2 353 2</string>
            </dict>
            <key>close</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{212,421},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 5 6 8 1 5 8 1 3 4 1 2 3 1 4 5 0 1 8</string>
                <key>vertices</key>
                <string>55 9 62 20 62 46 46 62 18 62 2 46 2 18 18 2 42 1</string>
                <key>verticesUV</key>
                <string>265 429 272 440 272 466 256 482 228 482 212 466 212 438 228 422 252 421</string>
            </dict>
            <key>f_dead!</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{325,452},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 8 9 10 7 8 10 2 10 0 5 6 7 4 5 7 2 3 4 2 7 10 0 1 2 7 2 4</string>
                <key>vertices</key>
                <string>52 11 60 23 60 40 53 54 40 60 23 60 9 52 5 40 5 22 11 11 23 5 41 4</string>
                <key>verticesUV</key>
                <string>372 459 380 471 380 488 373 502 360 508 343 508 329 500 325 488 325 470 331 459 343 453 361 452</string>
            </dict>
            <key>i_big_map</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{333,327},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 4 7 9 5 6 7 4 5 7 1 3 4 1 2 3 0 1 4 0 4 9</string>
                <key>vertices</key>
                <string>51 2 62 11 62 61 42 64 39 64 13 62 5 54 1 40 1 0 26 0</string>
                <key>verticesUV</key>
                <string>383 329 394 338 394 388 374 391 371 391 345 389 337 381 333 367 333 327 358 327</string>
            </dict>
            <key>i_center</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{154,265},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 4 5 7 3 4 7 2 3 7 1 2 7 0 1 7</string>
                <key>vertices</key>
                <string>63 22 63 43 43 63 22 63 2 43 2 22 22 2 43 2</string>
                <key>verticesUV</key>
                <string>215 285 215 306 195 326 174 326 154 306 154 285 174 265 195 265</string>
            </dict>
            <key>i_cleanup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,1}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{444,172},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 4 5 7 5 6 7 0 4 7 2 3 4 0 2 4 0 1 2 0 7 8</string>
                <key>vertices</key>
                <string>46 6 57 13 62 32 57 50 46 57 32 61 14 57 7 45 3 31 8 11 30 1</string>
                <key>verticesUV</key>
                <string>487 177 498 184 503 203 498 221 487 228 473 232 455 228 448 216 444 202 449 182 471 172</string>
            </dict>
            <key>i_critters</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{400,289},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 8 6 7 8 9 6 6 2 4 4 5 6 6 0 2 4 2 3 0 1 2 0 6 9</string>
                <key>vertices</key>
                <string>43 5 54 10 61 24 61 45 46 60 30 63 18 58 4 44 4 21 19 6 31 2</string>
                <key>verticesUV</key>
                <string>439 292 450 297 457 311 457 332 442 347 426 350 414 345 400 331 400 308 415 293 427 289</string>
            </dict>
            <key>i_disband_group</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{333,251},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 0 9 11 6 7 8 8 0 5 5 6 8 3 0 2 3 4 5 3 5 0 0 1 2 8 9 0</string>
                <key>vertices</key>
                <string>55 17 64 19 64 38 38 64 28 64 13 51 0 36 0 19 9 17 21 5 22 0 43 0</string>
                <key>verticesUV</key>
                <string>388 268 397 270 397 289 371 315 361 315 346 302 333 287 333 270 342 268 354 256 355 251 376 251</string>
            </dict>
            <key>i_filter_lords</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{361,397},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 8 9 5 7 8 5 6 7 3 5 9 3 4 5 1 2 3 0 1 3 0 3 9</string>
                <key>vertices</key>
                <string>61 20 61 44 46 61 24 60 12 55 5 43 2 30 5 19 20 4 45 4</string>
                <key>verticesUV</key>
                <string>420 413 420 437 405 454 383 453 371 448 364 436 361 423 364 412 379 397 404 397</string>
            </dict>
            <key>i_filter_tunnel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{426,421},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 6 8 1 4 5 6 3 4 6 1 2 3 6 1 3 0 1 9</string>
                <key>vertices</key>
                <string>60 19 60 40 53 54 40 60 22 60 11 54 3 41 3 20 20 3 44 3</string>
                <key>verticesUV</key>
                <string>483 437 483 458 476 472 463 478 445 478 434 472 426 459 426 438 443 421 467 421</string>
            </dict>
            <key>i_group_disband</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{54,476},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>86 508 54 508 54 476 86 476</string>
            </dict>
            <key>i_group_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{113,475},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>145 507 113 507 113 475 145 475</string>
            </dict>
            <key>i_group_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{2,225},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>34 257 2 257 2 225 34 225</string>
            </dict>
            <key>i_guide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{52,299},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 8 9 6 7 8 5 6 8 0 3 5 3 4 5 3 0 1 3 1 2 0 5 9</string>
                <key>vertices</key>
                <string>49 11 64 38 64 51 49 57 20 64 4 33 0 25 0 15 2 13 38 0</string>
                <key>verticesUV</key>
                <string>101 310 116 337 116 350 101 356 72 363 56 332 52 324 52 314 54 312 90 299</string>
            </dict>
            <key>i_leave_group</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,-0.5}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{410,358},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 6 7 10 4 5 6 1 4 6 1 3 4 1 2 3 1 6 10 0 1 10</string>
                <key>vertices</key>
                <string>44 6 54 16 64 21 64 38 47 56 32 60 19 56 7 44 4 26 13 11 25 5</string>
                <key>verticesUV</key>
                <string>450 359 460 369 470 374 470 391 453 409 438 413 425 409 413 397 410 379 419 364 431 358</string>
            </dict>
            <key>i_minus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,1}</string>
                <key>spriteSize</key>
                <string>{53,22}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{389,484},{53,22}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>59 42 6 42 6 20 59 20</string>
                <key>verticesUV</key>
                <string>442 506 389 506 389 484 442 484</string>
            </dict>
            <key>i_recruit_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-2.5}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{182,2},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 8 9 11 5 6 8 6 7 8 0 5 8 5 0 1 1 2 3 5 3 4 1 3 5 0 8 11</string>
                <key>vertices</key>
                <string>38 17 52 12 64 20 64 34 52 44 42 40 38 58 3 57 3 42 0 39 0 11 32 11</string>
                <key>verticesUV</key>
                <string>220 8 234 3 246 11 246 25 234 35 224 31 220 49 185 48 185 33 182 30 182 2 214 2</string>
            </dict>
            <key>i_small_map</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{136,351},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 1 5 7 2 3 4 1 2 4 1 4 5 0 1 7</string>
                <key>vertices</key>
                <string>59 11 62 27 62 50 56 64 15 64 1 55 1 1 49 1</string>
                <key>verticesUV</key>
                <string>194 361 197 377 197 400 191 414 150 414 136 405 136 351 184 351</string>
            </dict>
            <key>i_story</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,412},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 3 5 8 3 4 5 1 2 3 1 3 8 0 1 8</string>
                <key>vertices</key>
                <string>46 2 64 33 64 55 30 64 17 64 0 32 0 14 2 12 35 1</string>
                <key>verticesUV</key>
                <string>48 413 66 444 66 466 32 475 19 475 2 443 2 425 4 423 37 412</string>
            </dict>
            <key>i_tutorial_flash</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{202,351},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 6 4 5 2 3 4 2 4 6 2 6 7 0 2 7 0 1 2 0 7 8</string>
                <key>vertices</key>
                <string>32 3 58 3 58 37 64 52 58 63 14 64 11 56 10 26 6 18 6 8 14 0</string>
                <key>verticesUV</key>
                <string>228 354 254 354 254 388 260 403 254 414 210 415 207 407 206 377 202 369 202 359 210 351</string>
            </dict>
            <key>i_tutorial_onoff</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{202,351},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 0 8 10 6 4 5 2 3 4 2 4 6 2 6 7 0 2 7 0 1 2 0 7 8</string>
                <key>vertices</key>
                <string>32 3 58 3 58 37 64 52 58 63 14 64 11 56 10 26 6 18 6 8 14 0</string>
                <key>verticesUV</key>
                <string>228 354 254 354 254 388 260 403 254 414 210 415 207 407 206 377 202 369 202 359 210 351</string>
            </dict>
            <key>i_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{458,484},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 4 5 2 3 5 1 2 5 0 1 5</string>
                <key>vertices</key>
                <string>37 20 31 26 6 26 0 20 0 6 6 0 37 0</string>
                <key>verticesUV</key>
                <string>495 504 489 510 464 510 458 504 458 490 464 484 495 484</string>
            </dict>
            <key>lord_battle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{399,223},{59,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 0 4 4 5 7 5 6 7 7 8 0 2 3 4 0 2 4 0 1 2 0 8 10</string>
                <key>vertices</key>
                <string>45 6 57 15 62 33 57 50 45 59 30 62 19 59 7 47 3 32 8 12 28 2</string>
                <key>verticesUV</key>
                <string>441 227 453 236 458 254 453 271 441 280 426 283 415 280 403 268 399 253 404 233 424 223</string>
            </dict>
            <key>lord_select_circle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{96,97}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{136,248},{96,97}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>34 13 14 16 12 13 9 21 8 9 10 20 7 22 23 5 25 26 29 2 3 31 1 2 33 14 0 33 34 14 32 33 0 32 0 1 31 32 1 30 31 2 29 30 2 28 29 3 27 28 3 27 3 4 26 27 4 5 26 4 25 5 6 24 25 6 23 24 6 7 23 6 22 7 8 21 22 8 9 20 21 19 20 10 18 19 10 18 10 11 17 18 11 12 16 17 12 17 11 15 16 13 34 15 13</string>
                <key>vertices</key>
                <string>90 21 105 33 112 49 112 82 98 103 79 112 52 112 38 108 20 90 16 76 16 52 19 38 35 21 52 16 77 15 57 24 44 29 34 37 27 47 24 57 24 71 29 84 37 94 47 101 57 104 71 104 84 99 94 91 101 81 104 71 104 57 99 44 91 34 81 27 71 24</string>
                <key>verticesUV</key>
                <string>210 254 225 266 232 282 232 315 218 336 199 345 172 345 158 341 140 323 136 309 136 285 139 271 155 254 172 249 197 248 177 257 164 262 154 270 147 280 144 290 144 304 149 317 157 327 167 334 177 337 191 337 204 332 214 324 221 314 224 304 224 290 219 277 211 267 201 260 191 257</string>
            </dict>
            <key>map_current_location</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,279},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>40 17 18 20 15 16 14 21 22 12 25 11 12 24 25 9 27 28 8 28 29 31 32 5 4 32 33 32 4 5 35 2 3 2 36 37 2 35 36 2 37 1 34 35 3 33 34 3 4 33 3 31 5 6 30 31 6 30 6 7 29 30 7 8 29 7 9 28 8 27 9 10 26 27 10 11 26 10 11 25 26 24 12 13 23 24 13 22 23 13 22 13 14 14 15 21 20 21 15 17 19 20 17 20 16 40 19 17 39 40 18 0 38 39 38 0 1 38 1 37 0 39 18</string>
                <key>vertices</key>
                <string>99 7 114 19 128 40 128 83 123 96 112 111 94 125 80 128 47 128 34 125 16 110 6 95 0 80 0 48 6 33 16 18 29 7 44 0 84 0 49 9 36 15 19 30 11 44 8 55 8 73 11 84 19 98 31 110 44 117 59 121 80 119 93 113 110 98 118 84 121 73 121 55 118 44 110 30 98 18 85 11 70 7</string>
                <key>verticesUV</key>
                <string>101 286 116 298 130 319 130 362 125 375 114 390 96 404 82 407 49 407 36 404 18 389 8 374 2 359 2 327 8 312 18 297 31 286 46 279 86 279 51 288 38 294 21 309 13 323 10 334 10 352 13 363 21 377 33 389 46 396 61 400 82 398 95 392 112 377 120 363 123 352 123 334 120 323 112 309 100 297 87 290 72 286</string>
            </dict>
            <key>map_lords_many</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{72,410},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 10 8 9 10 7 8 5 8 10 5 7 5 6 4 10 11 2 3 4 2 4 11 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>48 4 62 18 64 31 62 44 51 54 37 62 17 63 5 54 0 42 0 25 8 14 25 3</string>
                <key>verticesUV</key>
                <string>120 411 134 425 136 438 134 451 123 461 109 469 89 470 77 461 72 449 72 432 80 421 97 410</string>
            </dict>
            <key>map_rider</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,3.5}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{265,452},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 6 7 8 6 4 5 6 8 4 8 1 2 2 3 4 8 2 4 1 8 9 0 1 10</string>
                <key>vertices</key>
                <string>32 1 32 11 45 16 57 28 44 44 42 56 19 57 6 44 19 23 20 12 23 0</string>
                <key>verticesUV</key>
                <string>291 453 291 463 304 468 316 480 303 496 301 508 278 509 265 496 278 475 279 464 282 452</string>
            </dict>
            <key>map_scale_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{293,390},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 1 7 9 5 6 7 1 2 5 3 4 5 2 3 5 1 5 7 0 1 9</string>
                <key>vertices</key>
                <string>57 15 60 27 60 44 42 64 21 64 5 46 0 29 7 16 19 4 43 4</string>
                <key>verticesUV</key>
                <string>350 401 353 413 353 430 335 450 314 450 298 432 293 415 300 402 312 390 336 390</string>
            </dict>
            <key>map_scale_down_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{477,389},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>509 421 477 421 477 389 509 389</string>
            </dict>
            <key>map_scale_knuckle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{57,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,16}</string>
                <key>textureRect</key>
                <string>{{2,2},{57,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>61 16 4 16 4 0 61 0</string>
                <key>verticesUV</key>
                <string>59 18 2 18 2 2 59 2</string>
            </dict>
            <key>map_scale_track</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{21,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,155},{21,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>42 64 21 64 21 0 42 0</string>
                <key>verticesUV</key>
                <string>23 219 2 219 2 155 23 155</string>
            </dict>
            <key>map_scale_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{142,420},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 5 2 3 5 6 7 5 7 2 5 3 4 1 2 7 0 1 7 0 7 9</string>
                <key>vertices</key>
                <string>59 17 62 32 58 46 43 60 20 60 5 45 0 28 7 15 21 0 42 0</string>
                <key>verticesUV</key>
                <string>201 437 204 452 200 466 185 480 162 480 147 465 142 448 149 435 163 420 184 420</string>
            </dict>
            <key>map_scale_up_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{474,134},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 32 0 32 0 0 32 0</string>
                <key>verticesUV</key>
                <string>506 166 474 166 474 134 506 134</string>
            </dict>
            <key>mouse_move_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{454,254},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 1 7 9 6 4 5 6 7 4 1 2 4 2 3 4 1 4 7 0 1 9</string>
                <key>vertices</key>
                <string>58 39 43 44 43 59 19 62 20 41 10 41 9 33 18 21 28 4 36 4</string>
                <key>verticesUV</key>
                <string>503 289 488 294 488 309 464 312 465 291 455 291 454 283 463 271 473 254 481 254</string>
            </dict>
            <key>mouse_normal_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{47,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{18,326},{47,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 12 13 0 10 11 8 9 10 1 8 10 6 7 8 4 6 8 4 5 6 1 4 8 1 3 4 1 2 3 0 1 10 0 11 12</string>
                <key>vertices</key>
                <string>23 8 38 23 43 24 50 31 50 42 56 48 46 58 36 63 29 52 19 52 17 34 9 18 9 8 14 3</string>
                <key>verticesUV</key>
                <string>32 331 47 346 52 347 59 354 59 365 65 371 55 381 45 386 38 375 28 375 26 357 18 341 18 331 23 326</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87636f3a45db7aa3792de343da81b3cb:2fca97fb0cd5c3a318634620f5f1ad44:81d0a9937121b9cb28ca126509a4844e$</string>
            <key>textureFileName</key>
            <string>rest-0.png</string>
        </dict>
    </dict>
</plist>
