<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,640}</string>
                <key>spriteSourceSize</key>
                <string>{128,640}</string>
                <key>textureRect</key>
                <string>{{2,2},{128,640}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 640 0 640 0 0 128 0</string>
                <key>verticesUV</key>
                <string>130 642 2 642 2 2 130 2</string>
            </dict>
            <key>sky</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,440}</string>
                <key>spriteSourceSize</key>
                <string>{128,440}</string>
                <key>textureRect</key>
                <string>{{136,2},{128,440}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 440 0 440 0 0 128 0</string>
                <key>verticesUV</key>
                <string>264 442 136 442 136 2 264 2</string>
            </dict>
            <key>t_fortress</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-4}</string>
                <key>spriteSize</key>
                <string>{659,200}</string>
                <key>spriteSourceSize</key>
                <string>{660,208}</string>
                <key>textureRect</key>
                <string>{{1387,1846},{659,200}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 7 0 6 5 0 1 2 3 4 1 2 4 5 1 4 0 5 6 7 8 0</string>
                <key>vertices</key>
                <string>272 105 378 99 421 16 642 15 660 195 660 208 1 208 1 195 57 60 57 8 297 8</string>
                <key>verticesUV</key>
                <string>1658 1943 1764 1937 1807 1854 2028 1853 2046 2033 2046 2046 1387 2046 1387 2033 1443 1898 1443 1846 1683 1846</string>
            </dict>
            <key>t_fountain</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{446,238}</string>
                <key>spriteSourceSize</key>
                <string>{450,248}</string>
                <key>textureRect</key>
                <string>{{450,1808},{446,238}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 5 6 7 2 4 5 2 3 4 2 5 7 7 0 1 7 1 2 0 7 8</string>
                <key>vertices</key>
                <string>271 13 352 114 355 186 449 201 449 247 4 247 3 203 78 173 72 65 113 9</string>
                <key>verticesUV</key>
                <string>718 1812 799 1913 802 1985 896 2000 896 2046 451 2046 450 2002 525 1972 519 1864 560 1808</string>
            </dict>
            <key>t_hall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{406,229}</string>
                <key>spriteSourceSize</key>
                <string>{425,230}</string>
                <key>textureRect</key>
                <string>{{992,1817},{406,229}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 2 3 4 1 2 4 0 1 5</string>
                <key>vertices</key>
                <string>418 128 395 230 32 230 12 127 140 1 291 1</string>
                <key>verticesUV</key>
                <string>1398 1944 1375 2046 1012 2046 992 1943 1120 1817 1271 1817</string>
            </dict>
            <key>t_stones</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,0}</string>
                <key>spriteSize</key>
                <string>{439,303}</string>
                <key>spriteSourceSize</key>
                <string>{450,303}</string>
                <key>textureRect</key>
                <string>{{2,1743},{439,303}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 0 1 6 7 8 5 6 8 4 5 8 4 1 2 4 2 3 1 4 8 8 9 0 0 9 10</string>
                <key>vertices</key>
                <string>296 28 318 153 437 251 446 286 437 303 7 303 10 193 68 133 130 168 184 0 280 0</string>
                <key>verticesUV</key>
                <string>291 1771 313 1896 432 1994 441 2029 432 2046 2 2046 5 1936 63 1876 125 1911 179 1743 275 1743</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>terrain-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece8f6c2f486d035b259523c534f7d8a:041e8391a1e5283a3d0c36728fcb41ce:8e90b992225262fb38ed17a113ef71b1$</string>
            <key>textureFileName</key>
            <string>terrain-1.png</string>
        </dict>
    </dict>
</plist>
