<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_day</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,896}</string>
                <key>spriteSourceSize</key>
                <string>{128,896}</string>
                <key>textureRect</key>
                <string>{{2,632},{128,896}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 896 0 896 0 0 128 0</string>
                <key>verticesUV</key>
                <string>130 1528 2 1528 2 632 130 632</string>
            </dict>
            <key>sky_night</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,896}</string>
                <key>spriteSourceSize</key>
                <string>{128,896}</string>
                <key>textureRect</key>
                <string>{{136,632},{128,896}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 896 0 896 0 0 128 0</string>
                <key>verticesUV</key>
                <string>264 1528 136 1528 136 632 264 632</string>
            </dict>
            <key>t_cavern0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{18,-1.5}</string>
                <key>spriteSize</key>
                <string>{788,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,179}</string>
                <key>textureRect</key>
                <string>{{236,293},{788,176}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 8 9 7 4 5 5 6 7 2 4 7 2 7 9 2 3 4 9 0 1 9 1 2 0 9 11</string>
                <key>vertices</key>
                <string>603 8 651 20 746 83 829 123 856 146 924 179 136 179 295 136 367 48 467 30 495 8 545 3</string>
                <key>verticesUV</key>
                <string>703 298 751 310 846 373 929 413 956 436 1024 469 236 469 395 426 467 338 567 320 595 298 645 293</string>
            </dict>
            <key>t_henge0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{2.5,0}</string>
                <key>spriteSize</key>
                <string>{595,188}</string>
                <key>spriteSourceSize</key>
                <string>{1024,188}</string>
                <key>textureRect</key>
                <string>{{889,2},{595,188}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 7 8 11 5 7 11 5 6 7 3 4 5 3 5 11 2 3 11 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>806 2 806 49 796 70 798 159 812 188 220 188 220 186 226 150 226 63 217 52 217 0 633 0</string>
                <key>verticesUV</key>
                <string>1478 4 1478 51 1468 72 1470 161 1484 190 892 190 892 188 898 152 898 65 889 54 889 2 1305 2</string>
            </dict>
            <key>t_keep0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{7.5,0}</string>
                <key>spriteSize</key>
                <string>{475,281}</string>
                <key>spriteSourceSize</key>
                <string>{512,281}</string>
                <key>textureRect</key>
                <string>{{1443,2},{475,281}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 1 7 9 4 5 6 2 7 1 6 2 3 2 6 7 6 3 4 0 1 10</string>
                <key>vertices</key>
                <string>449 52 431 70 431 234 501 281 26 281 54 251 79 245 81 69 67 55 67 0 446 0</string>
                <key>verticesUV</key>
                <string>1866 54 1848 72 1848 236 1918 283 1443 283 1471 253 1496 247 1498 71 1484 57 1484 2 1863 2</string>
            </dict>
            <key>t_ruin0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,285}</string>
                <key>spriteSourceSize</key>
                <string>{736,285}</string>
                <key>textureRect</key>
                <string>{{236,2},{736,285}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>25 27 28 25 26 27 0 25 28 20 22 23 20 21 22 9 19 20 5 9 20 19 9 10 15 16 17 14 15 17 19 17 18 10 17 19 12 13 14 12 14 17 10 11 12 10 12 17 5 20 23 7 8 9 6 7 9 5 6 9 5 23 24 3 4 5 3 5 24 0 2 3 0 1 2 0 3 24 0 24 25</string>
                <key>vertices</key>
                <string>178 100 201 108 224 131 235 166 258 178 270 202 301 203 317 187 397 166 406 231 432 218 432 199 475 198 475 183 531 183 584 136 644 136 652 220 736 279 736 285 0 285 0 265 11 254 45 240 65 214 64 47 58 43 59 0 140 0</string>
                <key>verticesUV</key>
                <string>414 102 437 110 460 133 471 168 494 180 506 204 537 205 553 189 633 168 642 233 668 220 668 201 711 200 711 185 767 185 820 138 880 138 888 222 972 281 972 287 236 287 236 267 247 256 281 242 301 216 300 49 294 45 295 2 376 2</string>
            </dict>
            <key>t_tower0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{430,624}</string>
                <key>spriteSourceSize</key>
                <string>{512,624}</string>
                <key>textureRect</key>
                <string>{{2,2},{430,624}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 26 27 25 0 22 22 24 25 22 23 24 25 26 0 19 20 21 21 22 3 18 19 21 3 5 18 16 17 18 5 6 16 12 8 11 13 14 8 12 13 8 8 10 11 8 9 10 6 8 14 6 7 8 6 14 15 6 15 16 5 16 18 3 4 5 22 0 3 3 0 1 3 1 2 21 3 18 29 30 31 28 29 31</string>
                <key>vertices</key>
                <string>272 36 309 39 312 170 286 172 286 199 263 215 263 505 307 517 357 567 386 569 426 592 465 624 35 624 68 586 130 530 162 510 162 221 140 199 137 171 115 171 115 143 122 140 121 85 112 76 115 41 176 4 191 0 253 0 442 582 437 582 437 576 442 576</string>
                <key>verticesUV</key>
                <string>239 38 276 41 279 172 253 174 253 201 230 217 230 507 274 519 324 569 353 571 393 594 432 626 2 626 35 588 97 532 129 512 129 223 107 201 104 173 82 173 82 145 89 142 88 87 79 78 82 43 143 6 158 2 220 2 409 584 404 584 404 578 409 578</string>
            </dict>
            <key>t_village0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-7.5,0.5}</string>
                <key>spriteSize</key>
                <string>{755,172}</string>
                <key>spriteSourceSize</key>
                <string>{1024,173}</string>
                <key>textureRect</key>
                <string>{{220,1383},{755,172}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>20 21 22 18 19 20 15 16 17 14 15 17 14 17 10 18 9 10 12 13 14 11 12 14 14 10 11 0 20 22 17 18 10 18 20 9 5 7 8 5 6 7 8 2 3 3 4 5 8 3 5 2 8 9 0 1 2 0 2 9 0 9 20</string>
                <key>vertices</key>
                <string>435 26 638 26 640 47 695 40 711 22 765 46 854 46 882 150 747 167 317 169 278 172 181 165 128 172 127 162 177 151 177 47 214 50 228 64 306 61 336 27 384 18 385 10 409 0</string>
                <key>verticesUV</key>
                <string>528 1409 731 1409 733 1430 788 1423 804 1405 858 1429 947 1429 975 1533 840 1550 410 1552 371 1555 274 1548 221 1555 220 1545 270 1534 270 1430 307 1433 321 1447 399 1444 429 1410 477 1401 478 1393 502 1383</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lom_L-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8a923839a363e607251034fa28a79b6:8bd20b2d73f719d86f73037fce5e66f7:8a3a17d67473bddbc07dc0838b79a10b$</string>
            <key>textureFileName</key>
            <string>lom_L-1.png</string>
        </dict>
    </dict>
</plist>
