<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flame01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{563,894},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 4 2 3 4 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>64 1 128 68 128 128 0 128 0 99 52 0</string>
                <key>verticesUV</key>
                <string>627 895 691 962 691 1022 563 1022 563 993 615 894</string>
            </dict>
            <key>flame02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,788},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 1 3 1 2 3 0 3 5</string>
                <key>vertices</key>
                <string>128 50 128 128 0 128 0 53 53 0 61 0</string>
                <key>verticesUV</key>
                <string>130 838 130 916 2 916 2 841 55 788 63 788</string>
            </dict>
            <key>flame03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{127,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{697,894},{127,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 3 4 1 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>100 1 128 111 128 128 1 128 1 52 84 0</string>
                <key>verticesUV</key>
                <string>796 895 824 1005 824 1022 697 1022 697 946 780 894</string>
            </dict>
            <key>floor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,320}</string>
                <key>spriteSourceSize</key>
                <string>{64,320}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,320}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>64 320 0 320 0 0 64 0</string>
                <key>verticesUV</key>
                <string>66 322 2 322 2 2 66 2</string>
            </dict>
            <key>t_column</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{72,2},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 256 0 256 0 0 128 0</string>
                <key>verticesUV</key>
                <string>200 258 72 258 72 2 200 2</string>
            </dict>
            <key>t_column2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{894,2},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 256 0 256 0 0 128 0</string>
                <key>verticesUV</key>
                <string>1022 258 894 258 894 2 1022 2</string>
            </dict>
            <key>t_fortress</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{330,100}</string>
                <key>spriteSourceSize</key>
                <string>{330,104}</string>
                <key>textureRect</key>
                <string>{{2,922},{330,100}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 0 1 3 1 2 0 4 5 0 3 4</string>
                <key>vertices</key>
                <string>145 46 229 8 330 8 330 104 0 104 0 4 138 4</string>
                <key>verticesUV</key>
                <string>147 964 231 926 332 926 332 1022 2 1022 2 922 140 922</string>
            </dict>
            <key>t_stones</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,152}</string>
                <key>spriteSourceSize</key>
                <string>{225,152}</string>
                <key>textureRect</key>
                <string>{{338,870},{219,152}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 0 1 2 3 0 0 3 4</string>
                <key>vertices</key>
                <string>222 103 222 152 4 152 3 97 93 0 139 0</string>
                <key>verticesUV</key>
                <string>557 973 557 1022 339 1022 338 967 428 870 474 870</string>
            </dict>
            <key>t_tower2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,304}</string>
                <key>spriteSourceSize</key>
                <string>{128,304}</string>
                <key>textureRect</key>
                <string>{{894,718},{128,304}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 0 7 8 6 7 0 5 3 4 5 2 3 2 5 6 2 6 1 6 0 1</string>
                <key>vertices</key>
                <string>122 62 106 170 128 294 128 304 0 304 0 296 29 169 4 31 21 0 122 0</string>
                <key>verticesUV</key>
                <string>1016 780 1000 888 1022 1012 1022 1022 894 1022 894 1014 923 887 898 749 915 718 1016 718</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>terrain-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece8f6c2f486d035b259523c534f7d8a:041e8391a1e5283a3d0c36728fcb41ce:8e90b992225262fb38ed17a113ef71b1$</string>
            <key>textureFileName</key>
            <string>terrain-1.png</string>
        </dict>
    </dict>
</plist>
