<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{2,2},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 16 0 16 0 0 16 0</string>
                <key>verticesUV</key>
                <string>18 18 2 18 2 2 18 2</string>
            </dict>
            <key>sky</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,220}</string>
                <key>spriteSourceSize</key>
                <string>{64,220}</string>
                <key>textureRect</key>
                <string>{{539,205},{64,220}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>64 220 0 220 0 0 64 0</string>
                <key>verticesUV</key>
                <string>603 425 539 425 539 205 603 205</string>
            </dict>
            <key>t_army2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{436,126}</string>
                <key>spriteSourceSize</key>
                <string>{440,148}</string>
                <key>textureRect</key>
                <string>{{284,601},{436,126}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 3 4 6 1 2 3 0 1 3 0 3 6</string>
                <key>vertices</key>
                <string>422 59 439 127 435 144 431 148 4 148 3 45 144 22</string>
                <key>verticesUV</key>
                <string>703 638 720 706 716 723 712 727 285 727 284 624 425 601</string>
            </dict>
            <key>t_city</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{497,242}</string>
                <key>spriteSourceSize</key>
                <string>{500,243}</string>
                <key>textureRect</key>
                <string>{{2,2},{497,242}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 0 2 3 4 0 0 1 2 0 4 5</string>
                <key>vertices</key>
                <string>405 14 499 93 499 243 2 243 2 89 42 1</string>
                <key>verticesUV</key>
                <string>405 15 499 94 499 244 2 244 2 90 42 2</string>
            </dict>
            <key>t_forest2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{402,207}</string>
                <key>spriteSourceSize</key>
                <string>{420,207}</string>
                <key>textureRect</key>
                <string>{{620,205},{402,207}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 4 2 3 4 1 2 4 0 4 5 6 10 11 6 7 9 7 8 9 6 9 10</string>
                <key>vertices</key>
                <string>405 137 389 207 197 207 182 121 224 67 372 49 89 11 160 207 21 207 3 156 70 0 77 0</string>
                <key>verticesUV</key>
                <string>1022 342 1006 412 814 412 799 326 841 272 989 254 706 216 777 412 638 412 620 361 687 205 694 205</string>
            </dict>
            <key>t_fountain</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{224,119}</string>
                <key>spriteSourceSize</key>
                <string>{225,124}</string>
                <key>textureRect</key>
                <string>{{457,733},{224,119}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 1 2 5 0 1 5</string>
                <key>vertices</key>
                <string>225 81 225 124 1 124 1 69 53 5 132 5</string>
                <key>verticesUV</key>
                <string>681 809 681 852 457 852 457 797 509 733 588 733</string>
            </dict>
            <key>t_gate</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,105}</string>
                <key>spriteSourceSize</key>
                <string>{387,105}</string>
                <key>textureRect</key>
                <string>{{529,418},{387,105}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 5 6 2 4 5 2 3 4 1 2 5 0 1 6</string>
                <key>vertices</key>
                <string>387 97 387 105 0 105 0 94 81 10 148 0 244 0</string>
                <key>verticesUV</key>
                <string>916 515 916 523 529 523 529 512 610 428 677 418 773 418</string>
            </dict>
            <key>t_hall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,0}</string>
                <key>spriteSize</key>
                <string>{204,115}</string>
                <key>spriteSourceSize</key>
                <string>{213,115}</string>
                <key>textureRect</key>
                <string>{{2,601},{204,115}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 4 2 3 4 1 2 4 0 4 5</string>
                <key>vertices</key>
                <string>211 65 198 115 7 115 7 62 69 0 178 0</string>
                <key>verticesUV</key>
                <string>206 666 193 716 2 716 2 663 64 601 173 601</string>
            </dict>
            <key>t_hills2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,89}</string>
                <key>spriteSourceSize</key>
                <string>{500,89}</string>
                <key>textureRect</key>
                <string>{{2,506},{500,89}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 2 3 6 0 1 2 0 2 6</string>
                <key>vertices</key>
                <string>389 14 500 69 500 89 0 89 0 82 69 13 208 0</string>
                <key>verticesUV</key>
                <string>391 520 502 575 502 595 2 595 2 588 71 519 210 506</string>
            </dict>
            <key>t_hut</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{460,858},{95,98}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>95 98 0 98 0 0 95 0</string>
                <key>verticesUV</key>
                <string>555 956 460 956 460 858 555 858</string>
            </dict>
            <key>t_icywaste</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,125}</string>
                <key>spriteSourceSize</key>
                <string>{475,125}</string>
                <key>textureRect</key>
                <string>{{2,250},{475,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 7 8 5 0 2 5 2 3 5 3 4 0 1 2 0 6 8 0 5 6</string>
                <key>vertices</key>
                <string>207 65 249 5 336 46 422 46 475 99 475 125 0 125 0 97 59 36 147 0 155 0</string>
                <key>verticesUV</key>
                <string>209 315 251 255 338 296 424 296 477 349 477 375 2 375 2 347 61 286 149 250 157 250</string>
            </dict>
            <key>t_mist</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,119}</string>
                <key>spriteSourceSize</key>
                <string>{475,119}</string>
                <key>textureRect</key>
                <string>{{2,381},{473,119}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 3 5 6 3 4 5 2 3 7 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>441 48 474 98 463 119 11 119 1 101 38 46 165 0 297 0</string>
                <key>verticesUV</key>
                <string>442 429 475 479 464 500 12 500 2 482 39 427 166 381 298 381</string>
            </dict>
            <key>t_mountain2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,314}</string>
                <key>spriteSourceSize</key>
                <string>{495,314}</string>
                <key>textureRect</key>
                <string>{{2,708},{495,314}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 0 1 5 1 2 3 1 3 4 1 4 5 0 5 6</string>
                <key>vertices</key>
                <string>425 147 463 298 495 308 495 314 0 314 0 290 232 0 251 0</string>
                <key>verticesUV</key>
                <string>427 855 465 1006 497 1016 497 1022 2 1022 2 998 234 708 253 708</string>
            </dict>
            <key>t_palace</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{473,197}</string>
                <key>spriteSourceSize</key>
                <string>{475,197}</string>
                <key>textureRect</key>
                <string>{{549,2},{473,197}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 7 8 4 6 7 4 5 6 1 3 4 1 2 3 1 4 7 0 1 8</string>
                <key>vertices</key>
                <string>404 59 408 117 473 117 473 197 0 197 9 117 66 58 220 0 257 0</string>
                <key>verticesUV</key>
                <string>953 61 957 119 1022 119 1022 199 549 199 558 119 615 60 769 2 806 2</string>
            </dict>
            <key>t_pit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{278,60}</string>
                <key>spriteSourceSize</key>
                <string>{284,60}</string>
                <key>textureRect</key>
                <string>{{594,529},{278,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>280 60 2 60 62 0 220 0</string>
                <key>verticesUV</key>
                <string>872 589 594 589 654 529 812 529</string>
            </dict>
            <key>t_steps</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,384}</string>
                <key>spriteSourceSize</key>
                <string>{192,384}</string>
                <key>textureRect</key>
                <string>{{830,418},{192,384}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 1 5 6 0 6 9 1 2 3 1 3 4 1 4 5 0 1 6</string>
                <key>vertices</key>
                <string>192 215 133 279 192 353 192 384 0 384 0 224 93 129 90 6 117 0 192 0</string>
                <key>verticesUV</key>
                <string>1022 633 963 697 1022 771 1022 802 830 802 830 642 923 547 920 424 947 418 1022 418</string>
            </dict>
            <key>t_temple</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{497,251}</string>
                <key>spriteSourceSize</key>
                <string>{500,252}</string>
                <key>textureRect</key>
                <string>{{525,771},{497,251}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 1 3 1 2 3 0 3 5</string>
                <key>vertices</key>
                <string>497 246 497 252 0 252 4 244 247 1 252 1</string>
                <key>verticesUV</key>
                <string>1022 1016 1022 1022 525 1022 529 1014 772 771 777 771</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>terrain-0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece8f6c2f486d035b259523c534f7d8a:041e8391a1e5283a3d0c36728fcb41ce:8e90b992225262fb38ed17a113ef71b1$</string>
            <key>textureFileName</key>
            <string>terrain-0.png</string>
        </dict>
    </dict>
</plist>
