<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flame01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{129,255},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 3 4 1 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>79 2 128 101 128 128 0 128 0 99 52 0</string>
                <key>verticesUV</key>
                <string>208 257 257 356 257 383 129 383 129 354 181 255</string>
            </dict>
            <key>flame02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{136,572},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 1 3 1 2 3 0 3 5</string>
                <key>vertices</key>
                <string>128 50 128 128 0 128 0 53 53 0 61 0</string>
                <key>verticesUV</key>
                <string>264 622 264 700 136 700 136 625 189 572 197 572</string>
            </dict>
            <key>flame03</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{127,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{136,392},{127,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 3 4 1 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>100 1 128 111 128 128 1 128 1 52 84 0</string>
                <key>verticesUV</key>
                <string>235 393 263 503 263 520 136 520 136 444 219 392</string>
            </dict>
            <key>t_army2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{436,126}</string>
                <key>spriteSourceSize</key>
                <string>{440,148}</string>
                <key>textureRect</key>
                <string>{{2,2},{436,126}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 3 4 6 1 2 3 0 1 3 0 3 6</string>
                <key>vertices</key>
                <string>422 59 439 127 435 144 431 148 4 148 3 45 144 22</string>
                <key>verticesUV</key>
                <string>421 39 438 107 434 124 430 128 3 128 2 25 143 2</string>
            </dict>
            <key>t_flames</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,256}</string>
                <key>spriteSourceSize</key>
                <string>{128,256}</string>
                <key>textureRect</key>
                <string>{{2,444},{128,256}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 256 0 256 0 0 128 0</string>
                <key>verticesUV</key>
                <string>130 700 2 700 2 444 130 444</string>
            </dict>
            <key>t_fountain2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,-2.5}</string>
                <key>spriteSize</key>
                <string>{224,119}</string>
                <key>spriteSourceSize</key>
                <string>{225,124}</string>
                <key>textureRect</key>
                <string>{{2,864},{224,119}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 1 2 5 0 1 5</string>
                <key>vertices</key>
                <string>225 81 225 124 1 124 1 69 53 5 132 5</string>
                <key>verticesUV</key>
                <string>226 940 226 983 2 983 2 928 54 864 133 864</string>
            </dict>
            <key>t_hall</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{203,115}</string>
                <key>spriteSourceSize</key>
                <string>{213,115}</string>
                <key>textureRect</key>
                <string>{{130,134},{203,115}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 4 2 3 4 1 2 4 0 4 5</string>
                <key>vertices</key>
                <string>210 64 210 115 7 115 7 62 69 0 178 0</string>
                <key>verticesUV</key>
                <string>333 198 333 249 130 249 130 196 192 134 301 134</string>
            </dict>
            <key>t_stones</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,152}</string>
                <key>spriteSourceSize</key>
                <string>{225,152}</string>
                <key>textureRect</key>
                <string>{{2,706},{219,152}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 2 0 1 2 3 0 0 3 4</string>
                <key>vertices</key>
                <string>222 102 222 152 4 152 3 97 93 0 139 0</string>
                <key>verticesUV</key>
                <string>221 808 221 858 3 858 2 803 92 706 138 706</string>
            </dict>
            <key>t_tower2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,304}</string>
                <key>spriteSourceSize</key>
                <string>{128,304}</string>
                <key>textureRect</key>
                <string>{{2,134},{128,304}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 0 7 8 1 6 7 5 3 4 5 2 3 2 5 6 2 6 1 0 1 7</string>
                <key>vertices</key>
                <string>122 62 102 146 128 294 128 304 0 304 0 296 29 169 4 31 21 0 122 0</string>
                <key>verticesUV</key>
                <string>124 196 104 280 130 428 130 438 2 438 2 430 31 303 6 165 23 134 124 134</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>terrain-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb6cb778cae9a13a7e496459fab916b:0daca756a5ff7a5a308f339dd22390ef:8e90b992225262fb38ed17a113ef71b1$</string>
            <key>textureFileName</key>
            <string>terrain-1.png</string>
        </dict>
    </dict>
</plist>
