<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debug_email</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4.5,2.5}</string>
                <key>spriteSize</key>
                <string>{183,117}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{718,2},{183,117}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 0 4 5 0 3 4 0 5 7 1 2 3 0 1 3 0 7 8</string>
                <key>vertices</key>
                <string>136 8 167 39 183 81 169 88 144 120 67 120 0 66 33 40 55 3</string>
                <key>verticesUV</key>
                <string>854 7 885 38 901 80 887 87 862 119 785 119 718 65 751 39 773 2</string>
            </dict>
            <key>i_actions</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,1.5}</string>
                <key>spriteSize</key>
                <string>{222,119}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{264,2},{222,119}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 4 6 7 4 5 6 1 3 4 1 2 3 1 4 7 0 1 7 0 7 9</string>
                <key>vertices</key>
                <string>167 27 183 71 238 72 238 120 30 122 16 99 27 78 126 30 127 3 143 3</string>
                <key>verticesUV</key>
                <string>415 26 431 70 486 71 486 119 278 121 264 98 275 77 374 29 375 2 391 2</string>
            </dict>
            <key>i_approach</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 14 15 9 12 13 10 11 12 7 2 3 9 10 12 8 9 13 7 8 13 6 3 4 6 4 5 3 6 7 7 13 2 2 13 14 1 2 15 0 1 15</string>
                <key>vertices</key>
                <string>215 22 211 47 174 65 175 73 228 63 256 80 256 118 129 118 77 128 18 128 0 110 0 86 10 74 55 67 94 1 160 0</string>
                <key>verticesUV</key>
                <string>217 24 213 49 176 67 177 75 230 65 258 82 258 120 131 120 79 130 20 130 2 112 2 88 12 76 57 69 96 3 162 2</string>
            </dict>
            <key>i_battle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{4,3.5}</string>
                <key>spriteSize</key>
                <string>{190,121}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{2,506},{190,121}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 11 12 9 10 11 1 12 13 7 8 9 1 9 12 5 6 7 1 7 9 2 3 4 7 2 4 7 1 2 7 4 5 0 1 13</string>
                <key>vertices</key>
                <string>183 10 165 37 198 55 223 80 227 121 38 120 37 83 79 62 79 44 102 42 86 6 94 1 133 9 169 0</string>
                <key>verticesUV</key>
                <string>148 516 130 543 163 561 188 586 192 627 3 626 2 589 44 568 44 550 67 548 51 512 59 507 98 515 134 506</string>
            </dict>
            <key>i_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4.5,1.5}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{2,744},{173,117}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 1 2 3 4 5 3 5 1 0 1 5 0 5 6</string>
                <key>vertices</key>
                <string>131 15 178 88 178 120 21 121 5 94 63 16 94 4</string>
                <key>verticesUV</key>
                <string>128 755 175 828 175 860 18 861 2 834 60 756 91 744</string>
            </dict>
            <key>i_fight</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{154,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{349,359},{154,126}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 8 9 10 6 7 8 3 8 10 3 6 8 0 1 10 5 3 4 3 5 6 2 3 10 1 2 10 0 10 11</string>
                <key>vertices</key>
                <string>207 31 207 114 125 127 99 116 66 127 53 114 62 50 77 2 105 19 125 2 143 34 164 1 186 1</string>
                <key>verticesUV</key>
                <string>503 389 503 472 421 485 395 474 362 485 349 472 358 408 373 360 401 377 421 360 439 392 460 359 482 359</string>
            </dict>
            <key>i_hide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,0.5}</string>
                <key>spriteSize</key>
                <string>{167,117}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{174,468},{167,117}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 2 3 6 0 1 2 0 2 6</string>
                <key>vertices</key>
                <string>176 12 210 32 195 122 71 121 43 93 59 40 131 5</string>
                <key>verticesUV</key>
                <string>307 475 341 495 326 585 202 584 174 556 190 503 262 468</string>
            </dict>
            <key>i_home</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-6,-1.5}</string>
                <key>spriteSize</key>
                <string>{118,109}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{659,378},{118,109}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 5 6 4 5 1 3 4 1 3 1 2 0 1 6</string>
                <key>vertices</key>
                <string>181 110 130 111 121 120 63 109 65 26 95 11 181 11</string>
                <key>verticesUV</key>
                <string>777 477 726 478 717 487 659 476 661 393 691 378 777 378</string>
            </dict>
            <key>i_look</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{146,122}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{662,250},{146,122}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 3 1 2 3 4 1 0 1 4 0 4 5</string>
                <key>vertices</key>
                <string>136 18 163 61 171 124 31 122 25 75 59 10 104 2</string>
                <key>verticesUV</key>
                <string>773 266 800 309 808 372 668 370 662 323 696 258 741 250</string>
            </dict>
            <key>i_map</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{4.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{139,127}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{196,591},{139,127}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 2 4 6 2 3 4 0 1 2 0 2 6</string>
                <key>vertices</key>
                <string>181 5 202 109 160 128 68 123 63 78 77 5 118 1</string>
                <key>verticesUV</key>
                <string>314 595 335 699 293 718 201 713 196 668 210 595 251 591</string>
            </dict>
            <key>i_night</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-3.5}</string>
                <key>spriteSize</key>
                <string>{168,121}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{2,867},{168,121}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 7 8 9 6 4 5 6 7 9 6 9 4 0 4 9 1 3 4 1 2 3 0 1 4 0 9 11</string>
                <key>vertices</key>
                <string>158 9 200 73 212 79 209 120 130 128 123 128 98 120 49 120 44 79 71 70 78 28 107 7</string>
                <key>verticesUV</key>
                <string>116 869 158 933 170 939 167 980 88 988 81 988 56 980 7 980 2 939 29 930 36 888 65 867</string>
            </dict>
            <key>i_post</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,-4}</string>
                <key>spriteSize</key>
                <string>{199,120}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{2,256},{199,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 8 9 10 7 8 10 0 10 11 7 5 6 7 10 5 4 5 10 1 2 3 1 3 4 1 4 10 0 1 10</string>
                <key>vertices</key>
                <string>223 39 214 68 230 100 211 119 129 119 66 128 41 112 31 70 35 29 96 19 108 38 114 8 223 8</string>
                <key>verticesUV</key>
                <string>194 287 185 316 201 348 182 367 100 367 37 376 12 360 2 318 6 277 67 267 79 286 85 256 194 256</string>
            </dict>
            <key>i_recruit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2.5,-1}</string>
                <key>spriteSize</key>
                <string>{227,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{492,2},{227,112}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 5 7 8 0 8 10 5 6 7 3 4 5 0 5 8 2 5 0 2 0 1 5 2 3</string>
                <key>vertices</key>
                <string>222 64 244 81 242 121 23 121 17 79 68 70 53 55 79 30 111 34 113 9 222 9</string>
                <key>verticesUV</key>
                <string>697 57 719 74 717 114 498 114 492 72 543 63 528 48 554 23 586 27 588 2 697 2</string>
            </dict>
            <key>i_seek</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{140,120}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{181,722},{140,120}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 4 5 6 1 3 4 1 4 6 1 2 3 0 1 6 0 6 8</string>
                <key>vertices</key>
                <string>165 11 171 68 195 78 200 120 60 120 60 84 93 62 84 27 119 0</string>
                <key>verticesUV</key>
                <string>286 733 292 790 316 800 321 842 181 842 181 806 214 784 205 749 240 722</string>
            </dict>
            <key>i_select1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,-4}</string>
                <key>spriteSize</key>
                <string>{191,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{2,633},{191,106}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 7 0 5 6 7 3 4 5 0 1 2 0 2 3 0 3 5</string>
                <key>vertices</key>
                <string>193 54 223 84 216 121 41 119 32 96 56 54 63 26 96 15 185 15</string>
                <key>verticesUV</key>
                <string>163 672 193 702 186 739 11 737 2 714 26 672 33 644 66 633 155 633</string>
            </dict>
            <key>i_select2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3.5,-5}</string>
                <key>spriteSize</key>
                <string>{197,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{414,120},{197,112}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 7 0 5 6 7 3 4 5 0 1 2 0 2 3 0 3 5</string>
                <key>vertices</key>
                <string>189 68 223 68 223 125 43 121 26 91 76 56 77 26 122 13 188 13</string>
                <key>verticesUV</key>
                <string>577 175 611 175 611 232 431 228 414 198 464 163 465 133 510 120 576 120</string>
            </dict>
            <key>i_think</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3.5,5}</string>
                <key>spriteSize</key>
                <string>{169,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{326,235},{169,118}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 2 9 10 5 6 7 2 7 9 2 3 4 2 4 5 2 5 7 0 1 2 0 2 10</string>
                <key>vertices</key>
                <string>188 5 208 30 179 64 204 75 209 117 54 118 40 79 75 59 95 19 140 11 160 0</string>
                <key>verticesUV</key>
                <string>474 240 494 265 465 299 490 310 495 352 340 353 326 314 361 294 381 254 426 246 446 235</string>
            </dict>
            <key>i_unhide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1.5,3}</string>
                <key>spriteSize</key>
                <string>{209,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{3,128},{209,122}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 7 8 5 6 7 2 4 5 2 3 4 2 5 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>192 15 208 41 202 77 234 77 234 121 31 122 25 87 57 27 144 0</string>
                <key>verticesUV</key>
                <string>170 143 186 169 180 205 212 205 212 249 9 250 3 215 35 155 122 128</string>
            </dict>
            <key>think_army</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1.5,1.5}</string>
                <key>spriteSize</key>
                <string>{147,125}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{328,488},{147,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 1 2 3 1 3 6 0 1 6</string>
                <key>vertices</key>
                <string>152 9 168 89 153 125 92 125 21 117 43 23 88 0</string>
                <key>verticesUV</key>
                <string>459 497 475 577 460 613 399 613 328 605 350 511 395 488</string>
            </dict>
            <key>think_battle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{5,1.5}</string>
                <key>spriteSize</key>
                <string>{164,125}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{617,120},{164,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 6 5 3 4 5 6 3 1 2 3 1 6 7 0 1 7</string>
                <key>vertices</key>
                <string>153 10 158 52 183 115 134 125 23 125 19 85 52 20 85 0</string>
                <key>verticesUV</key>
                <string>751 130 756 172 781 235 732 245 621 245 617 205 650 140 683 120</string>
            </dict>
            <key>think_person</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,-0.5}</string>
                <key>spriteSize</key>
                <string>{188,127}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{2,376},{188,127}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 6 8 9 1 4 9 6 7 8 5 6 9 4 5 9 1 3 4 1 2 3 1 9 11 0 1 11</string>
                <key>vertices</key>
                <string>161 10 162 71 191 85 191 118 104 128 51 119 23 128 8 128 3 81 35 74 45 26 86 1</string>
                <key>verticesUV</key>
                <string>160 385 161 446 190 460 190 493 103 503 50 494 22 503 7 503 2 456 34 449 44 401 85 376</string>
            </dict>
            <key>think_place</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{144,126}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{509,362},{144,126}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 2 4 6 2 3 4 0 1 2 0 2 6</string>
                <key>vertices</key>
                <string>151 8 167 115 83 127 23 127 23 70 55 6 96 1</string>
                <key>verticesUV</key>
                <string>637 369 653 476 569 488 509 488 509 431 541 367 582 362</string>
            </dict>
            <key>think_stronghold</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{1,1.5}</string>
                <key>spriteSize</key>
                <string>{190,125}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{218,127},{190,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 10 11 9 4 5 6 7 8 5 8 9 5 6 8 9 10 4 1 3 4 1 2 3 1 4 11 0 1 11</string>
                <key>vertices</key>
                <string>152 7 166 72 192 72 192 115 94 125 56 116 2 119 2 80 24 72 48 23 74 5 96 0</string>
                <key>verticesUV</key>
                <string>368 134 382 199 408 199 408 242 310 252 272 243 218 246 218 207 240 199 264 150 290 132 312 127</string>
            </dict>
            <key>undo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-7.5,8}</string>
                <key>spriteSize</key>
                <string>{177,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{167,350},{177,112}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 4 0 3 4 5 0 3 0 1 3 1 2 0 5 8</string>
                <key>vertices</key>
                <string>83 17 168 26 177 93 158 112 37 112 27 73 0 58 3 38 41 0</string>
                <key>verticesUV</key>
                <string>250 367 335 376 344 443 325 462 204 462 194 423 167 408 170 388 208 350</string>
            </dict>
            <key>undo_dawn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12.5,6}</string>
                <key>spriteSize</key>
                <string>{167,116}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{489,240},{167,116}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 0 8 9 6 7 8 0 6 8 3 4 5 1 2 3 0 1 3 0 3 5 0 5 6</string>
                <key>vertices</key>
                <string>54 14 96 3 133 12 167 80 167 116 27 116 14 65 0 51 13 25 38 0 46 0</string>
                <key>verticesUV</key>
                <string>543 254 585 243 622 252 656 320 656 356 516 356 503 305 489 291 502 265 527 240 535 240</string>
            </dict>
            <key>undo_night</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12.5,2.5}</string>
                <key>spriteSize</key>
                <string>{165,123}</string>
                <key>spriteSourceSize</key>
                <string>{192,128}</string>
                <key>textureRect</key>
                <string>{{766,125},{165,123}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 10 11 9 0 7 7 8 9 0 5 7 5 6 7 5 0 1 5 3 4 5 2 3 5 1 2 9 10 0</string>
                <key>vertices</key>
                <string>60 14 100 6 130 18 166 72 166 116 94 123 26 117 17 65 1 55 3 36 39 0 45 0</string>
                <key>verticesUV</key>
                <string>825 139 865 131 895 143 931 197 931 241 859 248 791 242 782 190 766 180 768 161 804 125 810 125</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>language-0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e90a24c5ea972e60eee523e5c2b0440:487bb66fbf3c5f2bcaa012937d22c96a:57f45cdb74d43e120362e9182116af9f$</string>
            <key>textureFileName</key>
            <string>language-0.png</string>
        </dict>
    </dict>
</plist>
