<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_visible</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,52}</string>
                <key>spriteSourceSize</key>
                <string>{73,52}</string>
                <key>textureRect</key>
                <string>{{180,2},{73,52}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 6 4 5 6 7 4 3 4 7 2 3 7 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>73 17 73 41 56 52 15 52 2 39 0 35 0 16 16 0 65 0</string>
                <key>verticesUV</key>
                <string>253 19 253 43 236 54 195 54 182 41 180 37 180 18 196 2 245 2</string>
            </dict>
            <key>map_scale_up_button</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{110,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 1 2 6 4 5 6 3 4 6 2 3 6 0 1 6 0 6 8</string>
                <key>vertices</key>
                <string>64 12 64 52 52 64 12 64 0 52 0 12 9 3 13 0 52 0</string>
                <key>verticesUV</key>
                <string>174 14 174 54 162 66 122 66 110 54 110 14 119 5 123 2 162 2</string>
            </dict>
            <key>map_warrior</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-1.5}</string>
                <key>spriteSize</key>
                <string>{102,97}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{102,97}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 7 8 9 0 7 9 0 4 6 4 5 6 0 2 3 0 1 2 0 3 4 0 6 7</string>
                <key>vertices</key>
                <string>80 39 105 39 113 56 113 85 80 107 45 114 37 98 16 71 11 40 33 18 70 17</string>
                <key>verticesUV</key>
                <string>71 24 96 24 104 41 104 70 71 92 36 99 28 83 7 56 2 25 24 3 61 2</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6a7a8a50fbf1d3a1c7990046ffed40:bbf1a02d88aa13ca39bf93d3facc7983:fc968d165773c8a0a06f49755236c03a$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
