<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1.5}</string>
                <key>spriteSize</key>
                <string>{108,99}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{559,2},{108,99}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 2 3 4 0 4 6 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>91 52 118 62 64 112 10 62 38 52 38 13 90 13</string>
                <key>verticesUV</key>
                <string>640 41 667 51 613 101 559 51 587 41 587 2 639 2</string>
            </dict>
            <key>arrow_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2,-2.5}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{72,588},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 0 3 5 0 1 2 0 2 3 0 5 6</string>
                <key>vertices</key>
                <string>72 38 112 39 112 91 71 94 63 120 12 64 63 13</string>
                <key>verticesUV</key>
                <string>132 613 172 614 172 666 131 669 123 695 72 639 123 588</string>
            </dict>
            <key>arrow_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,544},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 4 5 2 3 4 2 0 1 2 5 0 0 5 6</string>
                <key>vertices</key>
                <string>117 65 66 119 56 91 17 91 17 39 57 36 66 11</string>
                <key>verticesUV</key>
                <string>102 598 51 652 41 624 2 624 2 572 42 569 51 544</string>
            </dict>
            <key>arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,4.5}</string>
                <key>spriteSize</key>
                <string>{108,99}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{502,57},{108,99}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 3 1 2 3 4 1 1 4 6 0 1 6</string>
                <key>vertices</key>
                <string>118 60 90 70 90 109 38 109 35 69 10 60 64 10</string>
                <key>verticesUV</key>
                <string>610 107 582 117 582 156 530 156 527 116 502 107 556 57</string>
            </dict>
            <key>circle_selector</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,490}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2,2},{492,490}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>13 6 9 15 16 17 15 17 13 13 14 15 13 9 11 11 12 13 5 6 13 9 10 11 7 8 9 6 7 9 5 13 17 1 5 17 3 4 5 1 3 5 1 2 3 1 17 18 0 1 18</string>
                <key>vertices</key>
                <string>312 15 389 48 463 122 497 208 502 276 476 362 433 424 384 464 299 501 238 500 165 486 91 438 40 375 14 297 10 217 42 130 94 68 158 30 224 11</string>
                <key>verticesUV</key>
                <string>304 6 381 39 455 113 489 199 494 267 468 353 425 415 376 455 291 492 230 491 157 477 83 429 32 366 6 288 2 208 34 121 86 59 150 21 216 2</string>
            </dict>
            <key>i_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{213,498},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 10 11 6 8 9 0 3 9 6 7 8 5 3 4 5 6 3 3 6 9 0 1 2 0 2 3 0 9 11</string>
                <key>vertices</key>
                <string>94 41 115 43 115 81 84 83 84 113 45 115 44 81 15 81 14 45 45 34 46 12 82 12</string>
                <key>verticesUV</key>
                <string>293 527 314 529 314 567 283 569 283 599 244 601 243 567 214 567 213 531 244 520 245 498 281 498</string>
            </dict>
            <key>i_recruit_plus</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-4.5}</string>
                <key>spriteSize</key>
                <string>{128,89}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{432,2},{128,89}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 9 10 7 5 6 7 8 5 0 5 8 0 4 5 2 3 4 1 2 4 0 1 4 0 8 10</string>
                <key>vertices</key>
                <string>76 37 105 26 128 49 128 63 106 83 80 80 76 113 9 112 0 76 0 24 63 24</string>
                <key>verticesUV</key>
                <string>508 15 537 4 560 27 560 41 538 61 512 58 508 91 441 90 432 54 432 2 495 2</string>
            </dict>
            <key>map_token_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,430},{105,109}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 6 7 4 6 4 5 1 2 4 1 4 7 0 1 7 0 7 8</string>
                <key>vertices</key>
                <string>97 23 113 50 113 86 95 111 64 120 30 111 8 73 20 35 51 11</string>
                <key>verticesUV</key>
                <string>91 442 107 469 107 505 89 530 58 539 24 530 2 492 14 454 45 430</string>
            </dict>
            <key>map_token_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-3.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{102,481},{105,109}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 6 7 4 6 4 5 1 2 4 1 4 7 0 1 7 0 7 8</string>
                <key>vertices</key>
                <string>97 23 113 50 113 86 95 111 64 120 30 111 8 73 20 35 51 11</string>
                <key>verticesUV</key>
                <string>191 493 207 520 207 556 189 581 158 590 124 581 102 543 114 505 145 481</string>
            </dict>
            <key>map_warrior</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-0.5,-1}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,729},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 6 7 4 5 6 2 4 7 2 3 4 0 1 2 0 2 7</string>
                <key>vertices</key>
                <string>113 47 113 85 80 107 45 115 14 66 14 37 30 19 62 15</string>
                <key>verticesUV</key>
                <string>101 761 101 799 68 821 33 829 2 780 2 751 18 733 50 729</string>
            </dict>
            <key>mouse_look_left_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-4.5,2}</string>
                <key>spriteSize</key>
                <string>{111,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{8,649},{111,94}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>109 60 115 109 61 97 4 56 64 15</string>
                <key>verticesUV</key>
                <string>113 694 119 743 65 731 8 690 68 649</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rest-1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415c9cf4cbf5b03db47f42ec2400a619:b5ceea44fa7a81a603f08f81262ca858:fc968d165773c8a0a06f49755236c03a$</string>
            <key>textureFileName</key>
            <string>rest-1.png</string>
        </dict>
    </dict>
</plist>
