<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,640}</string>
                <key>spriteSourceSize</key>
                <string>{128,640}</string>
                <key>textureRect</key>
                <string>{{136,632},{128,640}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 640 0 640 0 0 128 0</string>
                <key>verticesUV</key>
                <string>264 1272 136 1272 136 632 264 632</string>
            </dict>
            <key>sky_day</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,896}</string>
                <key>spriteSourceSize</key>
                <string>{128,896}</string>
                <key>textureRect</key>
                <string>{{2,632},{128,896}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>128 896 0 896 0 0 128 0</string>
                <key>verticesUV</key>
                <string>130 1528 2 1528 2 632 130 632</string>
            </dict>
            <key>t_henge0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{2.5,0}</string>
                <key>spriteSize</key>
                <string>{595,188}</string>
                <key>spriteSourceSize</key>
                <string>{1024,188}</string>
                <key>textureRect</key>
                <string>{{283,2},{595,188}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>8 10 11 8 9 10 7 8 11 5 7 11 5 6 7 3 4 5 3 5 11 2 3 11 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>806 2 806 49 796 70 798 159 812 188 220 188 220 186 226 150 226 63 217 52 217 0 633 0</string>
                <key>verticesUV</key>
                <string>872 4 872 51 862 72 864 161 878 190 286 190 286 188 292 152 292 65 283 54 283 2 699 2</string>
            </dict>
            <key>t_keep0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{7.5,0}</string>
                <key>spriteSize</key>
                <string>{475,281}</string>
                <key>spriteSourceSize</key>
                <string>{512,281}</string>
                <key>textureRect</key>
                <string>{{837,2},{475,281}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 1 7 9 4 5 6 2 7 1 6 2 3 2 6 7 6 3 4 0 1 10</string>
                <key>vertices</key>
                <string>449 52 431 70 431 234 501 281 26 281 54 251 79 245 81 69 67 55 67 0 446 0</string>
                <key>verticesUV</key>
                <string>1260 54 1242 72 1242 236 1312 283 837 283 865 253 890 247 892 71 878 57 878 2 1257 2</string>
            </dict>
            <key>t_tower0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{430,624}</string>
                <key>spriteSourceSize</key>
                <string>{512,624}</string>
                <key>textureRect</key>
                <string>{{2,2},{430,624}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 26 27 25 0 22 22 24 25 22 23 24 25 26 0 19 20 21 21 22 3 18 19 21 3 5 18 16 17 18 5 6 16 12 8 11 13 14 8 12 13 8 8 10 11 8 9 10 6 8 14 6 7 8 6 14 15 6 15 16 5 16 18 3 4 5 22 0 3 3 0 1 3 1 2 21 3 18 29 30 31 28 29 31</string>
                <key>vertices</key>
                <string>272 36 309 39 312 170 286 172 286 199 263 215 263 505 307 517 357 567 386 569 426 592 465 624 35 624 68 586 130 530 162 510 162 221 140 199 137 171 115 171 115 143 122 140 121 85 112 76 115 41 176 4 191 0 253 0 442 582 437 582 437 576 442 576</string>
                <key>verticesUV</key>
                <string>239 38 276 41 279 172 253 174 253 201 230 217 230 507 274 519 324 569 353 571 393 594 432 626 2 626 35 588 97 532 129 512 129 223 107 201 104 173 82 173 82 145 89 142 88 87 79 78 82 43 143 6 158 2 220 2 409 584 404 584 404 578 409 578</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>terrain-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7ed48113687a788d1873d828091edc3:b3ad0215dac89b222ddd6a7dfbe5c5e5:8e90b992225262fb38ed17a113ef71b1$</string>
            <key>textureFileName</key>
            <string>terrain-1.png</string>
        </dict>
    </dict>
</plist>
